In [1]:
import pandas as pd
import numpy as np
from pandas import DataFrame, Series

In [2]:
from konlpy.tag import Mecab

In [3]:
mecab = Mecab()
print(mecab.morphs("강남역에 발롱펌 잘하는 곳 알려줘"))
print(mecab.morphs("이태원에 미용실 싼 곳 알아?"))

['강남역', '에', '발', '롱', '펌', '잘', '하', '는', '곳', '알려줘']
['이태원', '에', '미용실', '싼', '곳', '알', '아', '?']

### 아래와 같이 태그를 인식해야 한다.
- 장소 태그 : LOC (지역, 지하철역)
- 스타일 태그 : STY (헤어스타일)
- 형용사 태그 : ADJ (스타일이나 미용실을 표현하는 형용사)
- 업소명 태그 : ORG (미용실 이름)
- 기타 태그 : O (Out of tag)

['강남역', '에', '발', '롱', '펌', '잘', '하', '는', '곳', '알려줘']<br/>
['B-LOC', 'O', 'B-STY', 'I-STY', 'I-STY', 'B-ADJ', 'I-AJD', 'I-AJD', 'O', 'O']<br/><br/>
['이태원', '에', '미용실', '싼', '곳', '알', '아', '?']<br/>
['B-LOC', 'O', 'O', 'B-ADJ', 'O', 'O', 'O', 'O']

---
# 1. 질문 조각 전처리
    - 1) 형용사
        - 1-1) 전체 형용사
        - 1-2) 위치 형용사
    - 2) 스타일
    - 3) 장소
        - 3-1) 구, 동 
        - 3-2) 지하철역
    - 4) 업소명
    - 5) 어미

## 1) 형용사

In [4]:
adj_list = pd.read_excel('./input_data/adjectives_for_questions.xlsx')
adj_list

,san_pos_keywords,cs_pos_keywords,mood_pos_keywords,price_pos_keywords,loc_pos_keywords,sat_pos_keywords,etc_keywords
0,깔끔한,친절한,분위기가 좋은,싼,가까운,인스타각의,결혼식용으로 할
1,깨끗한,불친절하지 않은,화사한,가격이 저렴한,가까운 곳인,그뤠잇한,상견례용으로 할
2,청결한,친절한,넓은,혜자스러운,위치가 좋은,개쩌는,입학식용으로 할
3,위생적인,서비스가 좋은,넓직한,가격이 착한,접근성이 좋은,대만족의,졸업식때 할
4,빛나는,서비스 잘해주는,모던한,착한 가격의,금방 걸어갈수 있는,만족할만한,입학식때 할
...,...,...,...,...,...,...,...
90,NaN,NaN,NaN,NaN,NaN,이쁜,NaN
91,NaN,NaN,NaN,NaN,NaN,두상에 맞는,NaN
92,NaN,NaN,NaN,NaN,NaN,머리 빨리 해주는,NaN
93,NaN,NaN,NaN,NaN,NaN,핫한,NaN
94,NaN,NaN,NaN,NaN,NaN,예약이 필요없는,NaN

In [5]:
adjs_sanitation = adj_list.san_pos_keywords.dropna().tolist()
adjs_customer_service = adj_list.cs_pos_keywords.dropna().tolist()
adjs_mood = adj_list.mood_pos_keywords.dropna().tolist()
adjs_price = adj_list.price_pos_keywords.dropna().tolist()
adjs_loc = adj_list.loc_pos_keywords.dropna().tolist()
adjs_satisfaction = adj_list.sat_pos_keywords.dropna().tolist()

len(adjs_sanitation), len(adjs_customer_service), len(adjs_mood), len(adjs_price), len(adjs_loc), len(adjs_satisfaction)

(22, 20, 32, 26, 22, 95)

In [6]:
adjs_sanitation = list(set(adjs_sanitation))
adjs_customer_service = list(set(adjs_customer_service))
adjs_mood = list(set(adjs_mood))
adjs_price = list(set(adjs_price))
adjs_loc = list(set(adjs_loc))
adjs_satisfaction = list(set(adjs_satisfaction))

In [7]:
adjs_all = adjs_sanitation + adjs_customer_service + adjs_mood  + adjs_price + adjs_loc + adjs_satisfaction
print('형용사 총 개수 :', len(adjs_all))

형용사 총 개수 : 208

### 1-2) 전체 형용사

In [8]:
df_adjs_all = DataFrame({'adj_all' : adjs_all})
df_adjs_all

         adj_all
0      비위생적이지 않은
1           반짝이는
2            쾌적한
3            빛나는
4            상쾌한
..           ...
203         실력있는
204  전문 디자이너가 많은
205       단정해보이는
206        칭찬할만한
207       단골이 많은

[208 rows x 1 columns]

In [9]:
df_adjs_all['mecab'] = df_adjs_all.adj_all.apply(mecab.morphs)
df_adjs_all

         adj_all                   mecab
0      비위생적이지 않은  [비, 위생, 적, 이, 지, 않, 은]
1           반짝이는                [반짝이, 는]
2            쾌적한                 [쾌적, 한]
3            빛나는                 [빛나, 는]
4            상쾌한                 [상쾌, 한]
..           ...                     ...
203         실력있는              [실력, 있, 는]
204  전문 디자이너가 많은     [전문, 디자이너, 가, 많, 은]
205       단정해보이는          [단정, 해, 보이, 는]
206        칭찬할만한           [칭찬, 할, 만, 한]
207       단골이 많은           [단골, 이, 많, 은]

[208 rows x 2 columns]

In [10]:
from collections import defaultdict
adj_tag_dict = defaultdict(lambda: 'I-ADJ')
adj_tag_dict[0] = 'B-ADJ'
adj_tag_dict

defaultdict(<function __main__.<lambda>()>, {0: 'B-ADJ'})

In [11]:
def get_adj_BIO_tag(morphs: list):
    return [adj_tag_dict[i] for i in range(len(morphs))]

In [12]:
df_adjs_all['BIO_tag'] = df_adjs_all.mecab.apply(get_adj_BIO_tag)
df_adjs_all.head()

,adj_all,mecab,BIO_tag
0,비위생적이지 않은,"[비, 위생, 적, 이, 지, 않, 은]","[B-ADJ, I-ADJ, I-ADJ, I-ADJ, I-ADJ, I-ADJ, I-ADJ]"
1,반짝이는,"[반짝이, 는]","[B-ADJ, I-ADJ]"
2,쾌적한,"[쾌적, 한]","[B-ADJ, I-ADJ]"
3,빛나는,"[빛나, 는]","[B-ADJ, I-ADJ]"
4,상쾌한,"[상쾌, 한]","[B-ADJ, I-ADJ]"

### 1-2) 위치 형용사

In [13]:
df_adjs_loc = DataFrame({'adjs_loc' : adjs_loc})
df_adjs_loc

          adjs_loc
0             가까운
1   걸어서 10분 거리에 있는
2          금방 걸어가는
3               근처
4              근처에
5           가까운 곳인
6          접근성이 좋은
7              근처의
8            멀지 않은
9           위치가 좋은
10          바로 근처에
11       걸어갈만한 거리의
12          바로 코앞의
13          바로 보이는
14           찾기 쉬운
15          완전 가까운
16   걸어서 5분 거리에 있는
17      금방 걸어갈수 있는
18        멀지 않은 곳에
19             주변에
20             코앞에
21      걸어서 3분 이내의

In [14]:
df_adjs_loc['mecab'] = df_adjs_loc.adjs_loc.apply(mecab.morphs)
df_adjs_loc

          adjs_loc                      mecab
0             가까운                       [가까운]
1   걸어서 10분 거리에 있는  [걸어서, 10, 분, 거리, 에, 있, 는]
2          금방 걸어가는               [금방, 걸어가, 는]
3               근처                       [근처]
4              근처에                    [근처, 에]
5           가까운 곳인                [가까운, 곳, 인]
6          접근성이 좋은             [접근성, 이, 좋, 은]
7              근처의                    [근, 처의]
8            멀지 않은               [멀, 지, 않, 은]
9           위치가 좋은              [위치, 가, 좋, 은]
10          바로 근처에                [바로, 근처, 에]
11       걸어갈만한 거리의           [걸어갈, 만, 한, 거리의]
12          바로 코앞의                [바로, 코앞, 의]
13          바로 보이는                [바로, 보이, 는]
14           찾기 쉬운                 [찾, 기, 쉬운]
15          완전 가까운                  [완전, 가까운]
16   걸어서 5분 거리에 있는   [걸어서, 5, 분, 거리, 에, 있, 는]
17      금방 걸어갈수 있는         [금방, 걸어갈, 수, 있, 는]
18        멀지 않은 곳에         [멀, 지, 않, 은, 곳, 에]
19             주변에                    [주변, 에]
20             코앞에                    [코앞, 에]
21      걸어서 3분 이내의         [걸어서, 3, 분, 이, 내의]

In [15]:
df_adjs_loc['BIO_tag'] = df_adjs_loc.mecab.apply(get_adj_BIO_tag)
df_adjs_loc.head()

,adjs_loc,mecab,BIO_tag
0,가까운,[가까운],[B-ADJ]
1,걸어서 10분 거리에 있는,"[걸어서, 10, 분, 거리, 에, 있, 는]","[B-ADJ, I-ADJ, I-ADJ, I-ADJ, I-ADJ, I-ADJ, I-ADJ]"
2,금방 걸어가는,"[금방, 걸어가, 는]","[B-ADJ, I-ADJ, I-ADJ]"
3,근처,[근처],[B-ADJ]
4,근처에,"[근처, 에]","[B-ADJ, I-ADJ]"

## 2) 스타일

In [16]:
styles = ['댄디컷','리젠트컷','스왓컷','크롭컷','포마드컷','쉼표머리'
        ,'투블럭','모히칸','머쉬룸컷','레이어드컷','울프컷','언밸런스컷'
        ,'히메컷','보브컷','샤기컷','허쉬컷','처피뱅','러블리펌','C컬펌'
        ,'S컬펌','물결펌','히피펌','글램펌','트위스트펌','발롱펌'
        ,'베이비펌','바디펌','루즈펌','가르마펌','쉐도우펌','포마드펌'
        ,'스핀스왈로우펌','애즈펌','리젠트펌','다운펌','드레드락','호일펌'
        ,'볼륨매직펌','매직펌','에어펌','내츄럴펌','바그펌','보니펌','레인펌'
        ,'프릴펌','페미닌펌','이지펌','아이롱펌','보울컷','리프컷','고데기펌'
        ,'웨이브펌','복구펌','젤리펌','볼륨매직','픽시컷','보브컷','언발란스컷'
        ,'가일컷','가일펌','그레이스펌','태슬컷','디자인펌','붙임머리','셋팅펌'
        ,'엘리자벳펌','리프펌','스핀스왈로펌','시스루뱅','투블럭펌', '버즈컷', '레게머리', '귀두컷', '해병대머리', '반삭', '박새로이컷']

In [17]:
styles.sort()
styles

['C컬펌',
 'S컬펌',
 '가르마펌',
 '가일컷',
 '가일펌',
 '고데기펌',
 '귀두컷',
 '그레이스펌',
 '글램펌',
 '내츄럴펌',
 '다운펌',
 '댄디컷',
 '드레드락',
 '디자인펌',
 '러블리펌',
 '레게머리',
 '레이어드컷',
 '레인펌',
 '루즈펌',
 '리젠트컷',
 '리젠트펌',
 '리프컷',
 '리프펌',
 '매직펌',
 '머쉬룸컷',
 '모히칸',
 '물결펌',
 '바그펌',
 '바디펌',
 '박새로이컷',
 '반삭',
 '발롱펌',
 '버즈컷',
 '베이비펌',
 '보니펌',
 '보브컷',
 '보브컷',
 '보울컷',
 '복구펌',
 '볼륨매직',
 '볼륨매직펌',
 '붙임머리',
 '샤기컷',
 '셋팅펌',
 '쉐도우펌',
 '쉼표머리',
 '스왓컷',
 '스핀스왈로우펌',
 '스핀스왈로펌',
 '시스루뱅',
 '아이롱펌',
 '애즈펌',
 '언발란스컷',
 '언밸런스컷',
 '에어펌',
 '엘리자벳펌',
 '울프컷',
 '웨이브펌',
 '이지펌',
 '젤리펌',
 '처피뱅',
 '크롭컷',
 '태슬컷',
 '투블럭',
 '투블럭펌',
 '트위스트펌',
 '페미닌펌',
 '포마드컷',
 '포마드펌',
 '프릴펌',
 '픽시컷',
 '해병대머리',
 '허쉬컷',
 '호일펌',
 '히메컷',
 '히피펌']

In [18]:
df_styles = DataFrame({'style' : styles})
df_styles

    style
0     C컬펌
1     S컬펌
2    가르마펌
3     가일컷
4     가일펌
..    ...
71  해병대머리
72    허쉬컷
73    호일펌
74    히메컷
75    히피펌

[76 rows x 1 columns]

In [19]:
df_styles['mecab'] = df_styles['style'].apply(mecab.morphs)
df_styles

    style      mecab
0     C컬펌  [C, 컬, 펌]
1     S컬펌  [S, 컬, 펌]
2    가르마펌   [가르마, 펌]
3     가일컷    [가일, 컷]
4     가일펌    [가일, 펌]
..    ...        ...
71  해병대머리  [해병대, 머리]
72    허쉬컷    [허쉬, 컷]
73    호일펌    [호일, 펌]
74    히메컷      [히메컷]
75    히피펌    [히피, 펌]

[76 rows x 2 columns]

In [20]:
from collections import defaultdict
style_tag_dict = defaultdict(lambda: 'I-STY')
style_tag_dict[0] = 'B-STY'
style_tag_dict

defaultdict(<function __main__.<lambda>()>, {0: 'B-STY'})

In [21]:
def get_style_BIO_tag(morphs: list):
    return [style_tag_dict[i] for i in range(len(morphs))]

In [22]:
df_styles['BIO_tag'] = df_styles.mecab.apply(get_style_BIO_tag)
df_styles.head()

  style      mecab                BIO_tag
0   C컬펌  [C, 컬, 펌]  [B-STY, I-STY, I-STY]
1   S컬펌  [S, 컬, 펌]  [B-STY, I-STY, I-STY]
2  가르마펌   [가르마, 펌]         [B-STY, I-STY]
3   가일컷    [가일, 컷]         [B-STY, I-STY]
4   가일펌    [가일, 펌]         [B-STY, I-STY]

## 3) 장소

In [23]:
# 구
# 동
# 구 + 동
# 지하철역
# 위 네가지 케이스의 위치 단어을 만들자

In [24]:
shop_list = pd.read_csv('./output_data/HairshopList_2020-05-28.csv', index_col=0)
shop_list.head(2)

,store_id,store_name,tel,addrRoad,district,neighborhood,best_style,nearby_station,nearby_station_distance,review_count,coord_x,coord_y,collect_day
0,11547390,지모헤어 홍대점,02-3142-2562,서울특별시 마포구 와우산로23길 9,마포구,"서교동,서교동",붙임머리,"홍대입구역,상수역,광흥창역,합정역,서강대역","382,653,949,957,998",123,126.924334,37.553455,2020-05-22
1,11548559,다크헤어,02-2632-2060,서울특별시 영등포구 영등포로 133,영등포구,"당산동1가,당산1동","다운펌,가르마펌,아이롱펌","영등포구청역,문래역,영등포시장역","328,414,776",36,126.896539,37.521437,2020-05-22

In [25]:
import re

In [26]:
def remove_suffix(neighborhoods):
    # 길이가 3 이상인 경우만 뒷부분 제거
    tmp = [re.split('[0-9]+', neighborhood)[0] for neighborhood in neighborhoods.split(',')]
    tmp2=[]
    for val in tmp:
        if (len(val) > 2) & (val[-1] == '동'):
            tmp2.append(val[:-1])
        else:
            tmp2.append(val)
    
    # 순서 유지하며 중복제거
    input_dic = {}
    r_list = []
    for i, v in enumerate(tmp2):
        get_value = input_dic.get(v, None)
        if get_value == None:
            input_dic[v] = i
            r_list.append(v)
  
    return ','.join(r_list)

In [27]:
shop_list['district_no_suffix'] = shop_list.district.apply(lambda x: x[:-1] if x != '중구' else x)
shop_list['neighborhood_no_suffix'] = shop_list.neighborhood.apply(remove_suffix)
shop_list.head(10)

,store_id,store_name,tel,addrRoad,district,neighborhood,best_style,nearby_station,nearby_station_distance,review_count,coord_x,coord_y,collect_day,district_no_suffix,neighborhood_no_suffix
0,11547390,지모헤어 홍대점,02-3142-2562,서울특별시 마포구 와우산로23길 9,마포구,"서교동,서교동",붙임머리,"홍대입구역,상수역,광흥창역,합정역,서강대역","382,653,949,957,998",123,126.924334,37.553455,2020-05-22,마포,서교
1,11548559,다크헤어,02-2632-2060,서울특별시 영등포구 영등포로 133,영등포구,"당산동1가,당산1동","다운펌,가르마펌,아이롱펌","영등포구청역,문래역,영등포시장역","328,414,776",36,126.896539,37.521437,2020-05-22,영등포,당산
2,11561757,라메종뷰티,02-512-3001,서울특별시 강남구 선릉로146길 39,강남구,"청담동,청담동","허쉬컷,볼륨매직,루즈펌","강남구청역,압구정로데오역,청담역","527,670,984",26,127.042968,37.521781,2020-05-22,강남,청담
3,11567686,자쓰리헤어 구산점,02-313-8888,서울특별시 은평구 서오릉로 139,은평구,"역촌동,역촌동","투블럭,웨이브펌,샤기","구산역,역촌역,연신내역","47,699,890",183,126.917467,37.610850,2020-05-22,은평,역촌
4,11568230,뮤사이 살롱드점,1544-7442,서울특별시 강남구 선릉로157길 23-4,강남구,"신사동,압구정동",NaN,"압구정로데오역,압구정역","310,811",591,127.037667,37.525974,2020-05-22,강남,"신사,압구정"
5,11574385,준오헤어 이대1호점,02-392-6050,서울특별시 서대문구 이화여대길 28,서대문구,"대현동,신촌동",가르마펌,"이대역,신촌역,아현역","151,379,907",120,126.945910,37.558112,2020-05-22,서대문,"대현,신촌"
6,11578424,SM프로헤어 본점,02-469-5296,서울특별시 광진구 능동로13길 10,광진구,"화양동,화양동",가르마펌,"건대입구역,어린이대공원역","199,657",84,127.071378,37.542649,2020-05-22,광진,화양
7,11594334,자쓰리헤어 이대본점,02-312-6677,서울특별시 서대문구 이화여대8길 10,서대문구,"대현동,신촌동",NaN,"이대역,신촌역,아현역","207,387,881",161,126.946295,37.558678,2020-05-22,서대문,"대현,신촌"
8,11636317,리안헤어 대림역점,02-848-8401,서울특별시 영등포구 도림로31길 4,영등포구,"대림동,대림3동",NaN,"대림역,남구로역,구로디지털단지역","78,939,957",478,126.895873,37.492649,2020-05-22,영등포,대림
9,11659960,클레오파트라미용실,02-353-6993,서울특별시 서대문구 통일로 405,서대문구,"홍제동,홍제1동",볼륨매직,"홍제역,무악재역","422,453",76,126.947077,37.585784,2020-05-22,서대문,홍제

In [28]:
print(len(shop_list.columns))
shop_list = shop_list[['store_id', 'store_name', 'tel'
                       , 'addrRoad', 'district', 'district_no_suffix', 'neighborhood', 'neighborhood_no_suffix'
                       , 'best_style', 'nearby_station', 'nearby_station_distance'
                      , 'review_count'
                      , 'coord_x', 'coord_y'
                      , 'collect_day']]
print(len(shop_list.columns))

15
15

In [29]:
shop_list.head(2)

,store_id,store_name,tel,addrRoad,district,district_no_suffix,neighborhood,neighborhood_no_suffix,best_style,nearby_station,nearby_station_distance,review_count,coord_x,coord_y,collect_day
0,11547390,지모헤어 홍대점,02-3142-2562,서울특별시 마포구 와우산로23길 9,마포구,마포,"서교동,서교동",서교,붙임머리,"홍대입구역,상수역,광흥창역,합정역,서강대역","382,653,949,957,998",123,126.924334,37.553455,2020-05-22
1,11548559,다크헤어,02-2632-2060,서울특별시 영등포구 영등포로 133,영등포구,영등포,"당산동1가,당산1동",당산,"다운펌,가르마펌,아이롱펌","영등포구청역,문래역,영등포시장역","328,414,776",36,126.896539,37.521437,2020-05-22

In [30]:
#shop_list.to_csv('./output_data/HairshopList_2020-05-29.csv', sep=',', encoding='utf-8-sig')

In [31]:
# 서울시 전체 구 개수 : 25
district1 = shop_list.district.unique().tolist()
district2 = shop_list.district_no_suffix.unique().tolist()
print('구 개수:', len(district1), len(district2))

districts = list(set(district1 + district2))
print('구 합산 개수 :', len(districts))

None in districts

구 개수: 25 25
구 합산 개수 : 49

False

In [32]:
neighborhood1 = shop_list.neighborhood.tolist()
neighborhood1 = ','.join(neighborhood1)
neighborhood1 = list(set(neighborhood1.split(',')))

neighborhood2 = shop_list.neighborhood_no_suffix.tolist()
neighborhood2 = ','.join(neighborhood2)
neighborhood2 = list(set(neighborhood2.split(',')))
print('동 개수 :', len(neighborhood1), len(neighborhood2))

neighborhoods = list(set(neighborhood1 + neighborhood2))
print('동 합산 개수 :', len(neighborhoods))

None in neighborhoods

동 개수 : 565 279
동 합산 개수 : 832

False

In [33]:
district_neighborhood = []
for dis_val in districts:
    for neigh_val in neighborhoods:
        district_neighborhood.append(f'{dis_val} {neigh_val}')

print('구+동 개수:', len(district_neighborhood))

None in district_neighborhood

구+동 개수: 40768

False

In [34]:
# 얘는 서울 전체 지하철역 수 인데 
# 이걸 굳이 다 쓸 필요는 없을 것 같다.
seoul_station = pd.read_csv('./input_data/서울시 지하철역 정보 검색 (역명).csv', encoding='ms949')
len(set(seoul_station.전철역명.tolist()))

614

In [35]:
locations = list(set(districts + neighborhoods + district_neighborhood))
locations.sort()
#print('위치 단어 총 개수 :', len(locations))

### 3-1) 구, 동

In [36]:
df_locations = DataFrame({'location' : locations})
df_locations

      location
0           가락
1         가락1동
2         가락2동
3          가락동
4          가락본
...        ...
41636     휘경1동
41637     휘경2동
41638      휘경동
41639       흑석
41640      흑석동

[41641 rows x 1 columns]

In [37]:
df_locations['mecab'] = df_locations.location.apply(mecab.morphs)
df_locations

      location       mecab
0           가락        [가락]
1         가락1동  [가락, 1, 동]
2         가락2동  [가락, 2, 동]
3          가락동       [가락동]
4          가락본       [가락본]
...        ...         ...
41636     휘경1동  [휘경, 1, 동]
41637     휘경2동  [휘경, 2, 동]
41638      휘경동       [휘경동]
41639       흑석        [흑석]
41640      흑석동     [흑, 석동]

[41641 rows x 2 columns]

In [38]:
from collections import defaultdict
loc_tag_dict = defaultdict(lambda: 'I-LOC')
loc_tag_dict[0] = 'B-LOC'
loc_tag_dict

defaultdict(<function __main__.<lambda>()>, {0: 'B-LOC'})

In [39]:
def get_loc_BIO_tag(morphs: list):
    return [loc_tag_dict[i] for i in range(len(morphs))]

In [40]:
df_locations['BIO_tag'] = df_locations.mecab.apply(get_loc_BIO_tag)
df_locations

      location       mecab                BIO_tag
0           가락        [가락]                [B-LOC]
1         가락1동  [가락, 1, 동]  [B-LOC, I-LOC, I-LOC]
2         가락2동  [가락, 2, 동]  [B-LOC, I-LOC, I-LOC]
3          가락동       [가락동]                [B-LOC]
4          가락본       [가락본]                [B-LOC]
...        ...         ...                    ...
41636     휘경1동  [휘경, 1, 동]  [B-LOC, I-LOC, I-LOC]
41637     휘경2동  [휘경, 2, 동]  [B-LOC, I-LOC, I-LOC]
41638      휘경동       [휘경동]                [B-LOC]
41639       흑석        [흑석]                [B-LOC]
41640      흑석동     [흑, 석동]         [B-LOC, I-LOC]

[41641 rows x 3 columns]

In [41]:
stations = shop_list[shop_list.nearby_station.notnull()].nearby_station.tolist()
stations = ','.join(stations)
stations = list(set(stations.split(',')))
print('지하철역 개수 :', len(stations))

None in stations

지하철역 개수 : 295

False

### 3-2) 지하철역

In [42]:
df_stations = DataFrame({'station' : stations})
df_stations

    station
0       등촌역
1       용산역
2       이대역
3       하계역
4       흑석역
..      ...
290    오목교역
291     한티역
292    수락산역
293     보문역
294   잠실나루역

[295 rows x 1 columns]

In [43]:
df_stations['mecab'] = df_stations.station.apply(mecab.morphs)
df_stations

    station     mecab
0       등촌역     [등촌역]
1       용산역     [용산역]
2       이대역   [이, 대역]
3       하계역     [하계역]
4       흑석역   [흑, 석역]
..      ...       ...
290    오목교역  [오목, 교역]
291     한티역     [한티역]
292    수락산역    [수락산역]
293     보문역     [보문역]
294   잠실나루역   [잠실나루역]

[295 rows x 2 columns]

In [44]:
from collections import defaultdict
station_tag_dict = defaultdict(lambda: 'I-SBW')
station_tag_dict[0] = 'B-SBW'
station_tag_dict

defaultdict(<function __main__.<lambda>()>, {0: 'B-SBW'})

In [45]:
def get_station_BIO_tag(morphs: list):
    return [station_tag_dict[i] for i in range(len(morphs))]

In [46]:
df_stations['BIO_tag'] = df_stations.mecab.apply(get_station_BIO_tag)
df_stations

    station     mecab         BIO_tag
0       등촌역     [등촌역]         [B-SBW]
1       용산역     [용산역]         [B-SBW]
2       이대역   [이, 대역]  [B-SBW, I-SBW]
3       하계역     [하계역]         [B-SBW]
4       흑석역   [흑, 석역]  [B-SBW, I-SBW]
..      ...       ...             ...
290    오목교역  [오목, 교역]  [B-SBW, I-SBW]
291     한티역     [한티역]         [B-SBW]
292    수락산역    [수락산역]         [B-SBW]
293     보문역     [보문역]         [B-SBW]
294   잠실나루역   [잠실나루역]         [B-SBW]

[295 rows x 3 columns]

## 4) 업소명

In [47]:
shops = shop_list.store_name.tolist()
shops

['지모헤어 홍대점',
 '다크헤어',
 '라메종뷰티',
 '자쓰리헤어 구산점',
 '뮤사이 살롱드점',
 '준오헤어 이대1호점',
 'SM프로헤어 본점',
 '자쓰리헤어 이대본점',
 '리안헤어 대림역점',
 '클레오파트라미용실',
 '젠헤어 이대점',
 '마지크',
 '진우헤어 연희점',
 'HMTT미용실',
 '이영미 헤어',
 '다다헤어',
 '와이미용실',
 '박승철헤어스투디오 관악롯데백화점',
 '박승철헤어스투디오 문정점',
 '박승철헤어스투디오 압구정로데오점',
 '준오헤어 강남2호점',
 '준오헤어 강남1호점',
 '준오헤어 대치점',
 '준오헤어 돈암2호점',
 '나이스가이 여의도점',
 '이가자헤어비스 홍대점',
 '쟈끄데상쥬 신천점',
 '하이크라스 미용실',
 '에이컨셉 청담 본점',
 '라비에벨헤어 이대본점',
 '이철헤어커커 명동1호점',
 '명동헤어뱅크',
 '헤어바이반룬하우트 연신내점',
 '류영헤어투비',
 '박준뷰티랩 강남역점',
 '쟝피엘헤어 서울대입구역점',
 '이경민포레 청담본점',
 '나건아헤어',
 '제이앤에스헤어',
 '에반스타일',
 '라보노헤어 1호점',
 '이철헤어커커 건대스타시티점',
 '민스헤어 이대점',
 '쿠헤어',
 '아이디헤어 잠원점',
 '아이디헤어 반포1호점',
 '아뜰리에7',
 '라리엔 명동점',
 '프랑크프로보 명동',
 '도쿄랜드',
 '헤어캐슬24시붙임머리전문점 논현지점',
 '버블스토리 NC백화점불광점',
 '마니아미용실',
 '스타일봄헤어살롱 1호점',
 '세븐스트릿',
 '이지연더스타일',
 '리안헤어 신세계남대문점',
 '헤어닥터스',
 '헤어에스',
 '이가자헤어비스 은평이마트점',
 '순시키헤어 밤헤드',
 '리브헤어',
 '스타일플로어 임진옥',
 '파비엔에이치',
 '킹스턴 맨즈헤어',
 '양리헤어',
 '레트로나인',
 '엔비헤어살롱',
 '마샬뷰티살롱 논현점',
 '컬리헤어',
 '쎄봉',
 '리안헤어 잠실역점',
 '아리아헤어',
 '버블스타일',
 '펑크샬롬',
 '제오헤어 오류점',
 '시바드레드락',
 '미랑컬헤어 행당역점',
 '한스헤어 선릉점',
 'T775붙임머리',
 '더에이치에스헤어',
 '남성역미용실 지니샵',
 '미안헤어',
 '월드헤어',
 '머리쟁이',
 '윤정선헤어클럽',
 '가위손미용실',
 '랄라팔루자 헤어 건대점',
 '이철헤어커커 신림점',
 '준오헤어 신림역1호점',
 '이종원헤어콜렉션',
 '까피오헤어',
 '살롱드스완',
 '산타클로스헤어',
 '인투헤어 1호점',
 '이철헤어커커 신림포도몰점',
 '보이드바이박철',
 '크레이머 파리 헤어살롱 오페라',
 '이철헤어커커 숙대점',
 '이철헤어커커 반포자이점',
 '이철헤어커커 명동2호점',
 '박승철헤어스투디오 상도점',
 '재클린',
 '지오헤어 목동점',
 '벨라아띠 잠실미용실',
 '시즌헤어',
 'uGone HAIR',
 '아리스헤어',
 '이가자헤어비스 수색이마트점',
 '헤어아떼 문정점',
 '지오헤어 강남점',
 '준오헤어 중계점',
 '준오헤어 신내홈플러스점',
 '박찬헤어스테이지',
 '탄포포헤어',
 '서샵',
 '노주원헤어그라프',
 '에스휴',
 '에이블청담',
 '슈어 바이 정민',
 '지산헤어스토리',
 '박준뷰티랩 신반포역점',
 '박준뷰티랩 롯데송파점',
 '박준뷰티랩 대치점',
 '박준뷰티랩 방배점',
 '박준뷰티랩 장안점',
 '박준뷰티랩 총신대점',
 '박준뷰티랩 이수역점',
 '머시헤어 2호점',
 '칸토헤어',
 '이훈헤어칼라 화곡점',
 '이훈헤어칼라 미아점',
 '토니앤가이 청담본점',
 '레드라인헤어',
 '수인헤어',
 '수인헤어',
 '오송헤어',
 '우선제 헤어루시 목동점',
 '아이펠마르 난향점',
 '바이미가 그린라벨',
 '장루이다비드 장지역점',
 '헤어 블러썸',
 '마타헤어하우스',
 '헤어그라피 가든파이브점',
 '헤어아트홀',
 'Lee헤어',
 '준오헤어 이수역점',
 '비단헤어',
 '디디앤디 헤어라운지',
 '비비헤어 미아사거리',
 '아이펠마르 구로점',
 '본연애헤어 묵동점',
 '벨루스헤어',
 '토니앤가이 목동점',
 'SM프로헤어 한국외대점',
 '쏠헤어',
 '인디헤어 더 스타일',
 '이가자헤어비스 가든파이브점',
 '이가자 헤어비스 이마트가양점',
 '헤어바이반룬하우트 용산점',
 '박승철헤어스투디오 홍대점',
 '헤어아티스트M 당산점',
 '라푼젤',
 '머시헤어 1호점',
 '살롱드프롬 송파위례',
 '이철헤어커커 교대점',
 '준호프로헤어',
 '루루헤어',
 '리안헤어 약수역점',
 '김호증모 리헤어',
 '포레스타 청담본점',
 '미앤희',
 '준오헤어 잠실점',
 '디하문바이공주',
 '아베다안스헤어',
 '더에이',
 '가오다0927',
 '은지헤어크리닉',
 '디보쉬헤어 강변점',
 '포이에마부띠끄',
 '한솔헤어',
 '헤어위드동행',
 '니어앤디어 hair salon',
 '헤어뉴스 더 레드',
 '라비에벨헤어살롱 이대점',
 '준오헤어 사당역점',
 '다름헤어 방배점',
 '데이앤라이프',
 '데이빗헤어살롱',
 '쁘띠뜨헤어',
 '프리스타일헤어 등촌점',
 '예삐오 ABO BCVC BYHONG',
 '헤어스케치',
 '헤어카리스 선릉본점',
 '헤어앤바이서은경',
 '쥬베 프리제헤어',
 '리안헤어 오류점',
 '김키키헤어',
 '세븐 헤어월드',
 '헤어살롱조이',
 '헤렌헤어',
 '마끼에 타임스퀘어점',
 '준오헤어 당산역점',
 '준오헤어 선릉역1호점',
 '세종헤어 암사롯데점',
 '세종헤어 올림픽점',
 '선영아사랑해',
 '엘빈헤어',
 '리안헤어 노량진점',
 '살롱에이 중대점',
 '어바웃9 대세점',
 '에이치스타일 서대문점',
 '제오헤어 대방점',
 '준오헤어 이대3호점',
 '헤어라희',
 '박준뷰티랩 답십리점',
 '수헤어',
 '콤마헤어',
 '고아라헤어케어 1호점',
 '스타일헤어',
 '샤미즈',
 '박승철헤어스투디오 구로롯데마트점',
 '아이디헤어 래미안퍼스티지점',
 '쟈끄데상쥬 이대점',
 '아이벨르팜므 목동점',
 '쟈끄데상쥬 강남역점',
 '하루헤어',
 'WHOS',
 '매스티지헤어',
 '에이치 헤어살롱',
 '와이스타일',
 '모즈헤어 서교2호점',
 '보뜨마샬헤어살롱',
 '미랑컬헤어 영등포구청역점',
 '고아라헤어케어 2호점',
 '이철헤어커커 서울대입구점',
 '미랑컬헤어 개봉2동점',
 '훈헤어',
 '주희헤어스케치',
 '박승철헤어스투디오 개롱역점',
 '오유헤어&네일디자인',
 '이철헤어커커 공덕KCC점',
 '준오헤어 연대2호점',
 '헤어드헤레나',
 '아이벨르 목동점',
 '알레이 잠실점',
 '힐링붙임머리성신여대점',
 '샵스테이',
 '포레스타 반얀트리점',
 '헤어아떼 신월점',
 '모네헤어',
 '미랑컬헤어 화곡2동점',
 '누메아헤어',
 '산뜻헤어',
 '우현증메르시',
 '준오헤어 강서홈플러스점',
 '하루헤어뜰',
 '비엠헤어다이스 1호점',
 '사틴헤어 잠실리센츠점',
 '이철헤어커커 행당점',
 '자이헤어',
 '제오헤어 신길점',
 '당산헤어스튜디오',
 'H STYLE헤어살롱 둔촌점',
 '윤성애헤어클럽',
 '리안헤어 당산역점',
 '이철헤어커커 현대백화점 디큐브시티',
 '마샬뷰티살롱명동본점',
 '라이크효헤어',
 '장헤어스토리',
 '제오헤어 까치산점',
 '엥비떼헤어',
 '리안헤어 응암오거리점',
 '까까머리방',
 '히즈모 동부이촌점',
 '가와이헤어 쟁이No1',
 '머리짱헤어샵',
 '양스헤어',
 '조희헤어',
 '헤어바이태헌',
 '더함헤어',
 '압구정헤어',
 '도미용실',
 '서상우헤어',
 '데자뷰헤어',
 '신림모리붙임머리',
 '아띠제 헤어 살롱',
 '비타민헤어샵',
 '살롱 드 브로',
 '아이벨르 압구정본점',
 '살롱드안나 성신여대캠퍼스점',
 '이철헤어커커 잠실신천2호점',
 '살롱루즈 가로수길점',
 '세마헤어 홍대점',
 '준오헤어 연신내점',
 '온새미로',
 '데몬헤어 홍대점',
 '비에이헤어',
 '에끌레르헤어',
 '하루헤어 본점',
 '체리헤어',
 '에뜨레헤어',
 '어썸헤어 건대본점',
 '에떼르넬헤어살롱 홍대점',
 '제이메이드헤어',
 '신오키새날',
 'CHOP헤어 잠실점',
 '아톰헤어 성북구청점',
 '리안헤어 서울대입구역점',
 '쟝피엘헤어 낙성대 라이프스타일점',
 '스윕헤어',
 'MJ헤어',
 '제이살롱 붙임머리',
 '제오헤어 길동점',
 '바이윰헤어',
 '파란헤어 강남허브점',
 '라뷰티코아 청담 세이엇데이점',
 '베르헤어',
 '데이스토리헤어',
 '공간에이트',
 '벨라헤어',
 'S TA HAIR',
 '준오헤어 강서구청점',
 '이가자헤어비스 하월곡이마트점',
 '헤어오클리',
 '에즈헤어라운지 화곡점',
 '가꿈헤어드림 수유점',
 '헤어A1924',
 '제오헤어 군자점',
 '동안 헤어메이크업',
 '박준뷰티랩 구일점',
 '리오헤어',
 '컬처앤네이처 청담점',
 '한스헤어 성신여대점',
 '준오헤어 강변역점',
 '헤어작업실',
 '가위와빗 헤어살롱',
 '이철헤어커커 가양홈플러스점',
 '제이헤어',
 '박승철헤어스투디오 도봉빅마켓점',
 '리안헤어 송파개롱역점',
 '살롱드프롬 연신내점',
 '헤르덴헤어',
 '이철헤어커커 구로디지털단지역점',
 '에이난 홍대점',
 '뱅헤어 1호점',
 '미니샵',
 '살롱프리즘',
 '민스헤어 동묘점',
 '이철헤어커커 서교점',
 '헤드앤헤어미용실',
 '퍼니헤어 홍대본점',
 '헤어by연',
 '리안헤어 화곡점',
 '이가자헤어비스 강동점',
 '헤어디자인모습 서교본점',
 '투헤어',
 '슈가헤어 방배점',
 '박승철헤어스투디오 타임스퀘어점',
 '주빈헤어',
 '리나앤보스 목동점',
 '헤어아티스트M 중앙대점',
 '아톰헤어 성북동점',
 '모즈헤어 아뜰리에점',
 '파란헤어 강남본점',
 '스타일리스트서연',
 '나인토파즈헤어',
 '하미스토리',
 '리안헤어 신림점',
 "한's헤어",
 '리안헤어발산점',
 '리안헤어 목동사거리점',
 '신승원컷앤컷 강남점',
 '준오헤어 이대2호점',
 '사틴헤어 갤러리아팰리스점',
 '감성헤어 서울종암점',
 '홍대붙임머리 크레이지드레드',
 '앨리스',
 '리안헤어 구수동사거리점',
 '마리앤두헤어',
 '가위스토커 1호점',
 '송헤어샵',
 '헤어살롱윤슬',
 '헤어라운지',
 '시류',
 '더 퍼스트헤어 고려대점',
 '인트라다by한지오 청담점',
 '지노헤어 숙대1호점',
 '더감동 미아본점',
 '미꼬헤어',
 '토니앤가이 홍제점',
 '나풀',
 '헤어샵오늘',
 '세마헤어 명동점',
 '리안헤어 수락산역점',
 '엘페라',
 '라비드헤어',
 '헤어작 in 신당',
 '바닐랄라헤어',
 '더레이디 서울본점',
 'Bambi hair',
 '미즈헤어',
 '헤어아티스트M 상도점',
 '박승철헤어스투디오 가산역2호점',
 '이가자헤어비스 현대시티아울렛가산점',
 '더퍼스트헤어 안암본점',
 '리챠드프로헤어 신논현역점',
 '모완10 헤어',
 '릴리프헤어',
 '조국현뷰티스윗',
 '제오헤어 압구정점',
 '오다헤어 명동점',
 '이진헤어 노량진점',
 '이철헤어커커 낙성대점',
 '프리티붙임머리',
 '러블리하우스 방배점',
 '쟈끄데상쥬 옥수점',
 'M3D쏘타헤어 강남점',
 '프리티살롱 청담점',
 '스타일 브로우바',
 '다올헤어',
 '살롱드알레',
 '마벨헤어',
 '미랑컬헤어 신정네거리역점',
 '김주아헤어',
 '장루이다비드 잠실롯데캐슬점',
 '리안헤어 명동1호점',
 '6번가 헤어살롱',
 '오다헤어 낙성대점',
 '에버마리 헤어',
 '사틴헤어 삼성역점',
 '사월의양 방이점',
 '박승철헤어스투디오 가산역1호점',
 '낭만미장소',
 '프랑크프로보 가로수길점',
 '마블',
 '여우짓붙임머리 강남점',
 '헤어톡톡',
 '제이앤헤어',
 '비아이티살롱 목동점',
 '제오헤어 등촌점',
 '이철헤어커커 동대문롯데몰점',
 '코랄리헤어 동부이촌점',
 '2H헤어',
 '더에이치스토리헤어',
 '야드',
 '보떼헤어',
 '헤어큐브',
 'CHOP헤어 신천점',
 '제오헤어 낙성대점',
 '박승철헤어스투디오 마포점',
 'H스타일 영등포구청역점',
 '헤어작 in 약수',
 '꾸아퍼스트 무역현대점',
 '한결헤어',
 '라이언스타일',
 '준오헤어 천호역점',
 '더샾헤어 망원점',
 '스타일제이헤어',
 '에덴뷰티살롱',
 '앤드 스토리',
 '헤어아티스트M 강서점',
 '크리헤어티브 대학동점',
 '엘누에보헤어라운지',
 '정헤어스토리',
 '가미수헤어',
 '제오헤어 이수점',
 '키즈헤어타임',
 '루시헤어',
 '헤어샵소이',
 '리안헤어 월곡역점',
 '이젤헤어',
 '라헤브헤어',
 '팜므제이',
 '아틀리에헤어',
 '유진헤어',
 '두쏠뷰티 길동점',
 '코제트헤어컬러 성신여대점',
 '피움헤어',
 '마키하우스',
 'H STYLE헤어살롱 오목교점',
 '헤어아모르',
 '오컷헤어',
 '살롱드 비쥬벨헤어',
 '지노헤어 동대문2호점',
 '간지헤어 2호점',
 '준오헤어 건대역2호점',
 '리안헤어 구산역점',
 '뉴크레용헤어',
 '모즈헤어 응암점',
 '다온헤어 건대점',
 '리안헤어 신대방삼거리역점',
 '쌤시크',
 'cafe de hair',
 '오다헤어 보광점',
 '토니앤가이 연희점',
 '리안헤어 방화역점',
 '이가자헤어비스 상봉홈플러스점',
 '준오헤어 삼성역점',
 '살롱드에비뉴 천호점',
 '김지연살롱에이 스타일바이',
 '준하헤어',
 '본샵',
 '리안헤어 고척점',
 '권홍헤어 경복궁점',
 '헤어살롱나루 노원점',
 '힐링헤어',
 '원헤어',
 '리안헤어 이수역점',
 'RROMANI',
 '더 부띠끄 건대점',
 '리안헤어 문래점',
 '준오헤어 코엑스도심공항점',
 '이철헤어커커 강동홈플러스점',
 '우선제헤어루시',
 '리안헤어 가양자이타워점',
 '살롱데얼스',
 '준오헤어 가로수길점',
 '살롱드프롬 성신여대점',
 '시트린헤어홍제점',
 '오다헤어 경리단길점',
 '네추럴데이즈 신림점',
 '아가페헤어',
 '가위스토커 2호점',
 '우희살롱',
 '제이뷰티',
 '상상모리뷰티살롱',
 '메시헤어',
 '반헤어',
 '이철헤어커커강변역점',
 'H STYLE 헤어살롱 노량진점',
 '에덴헤어',
 '코드헤어',
 '박준뷰티랩 신림점',
 '본헤어샵',
 '더 제이 헤어메이크업',
 '박준뷰티랩 청담본점',
 '시연헤어',
 '요닝',
 '헤어인카페 왕십리점',
 '바이진 1호점',
 '세르피에헤어 1호점',
 '비엘헤어',
 '손빛지예',
 '엘리헤어',
 '아이벨르팜므 미아뉴타운점',
 '블레스바버샵',
 '준오헤어 동대문홈플러스점',
 '가위놀이',
 '마끼에 미아롯데백화점점',
 '리안헤어 남구로역점',
 '셀라비헤어',
 '아이디헤어 롯데백화점 청량리점',
 '마샬뷰티살롱',
 '이준헤어밸리',
 '헤어샵오엠지',
 '오다헤어 광운대역점',
 '오리날다 헤어&뷰티',
 '헤어헤리티지문래점',
 '수헤어스토리',
 '세종헤어 올림픽프라자점',
 '바바헤어',
 '이철헤어커커 묵동자이점',
 '리안헤어 목동점',
 '리안헤어 강서구청점',
 '리안헤어 중랑역점',
 '헤어팰리스    잠실관광호텔점',
 '일리아바이예민',
 '더공감헤어 성내점',
 '이철헤어커커 오목교역점',
 '헤어아티스트M 영등포점',
 '준오헤어 돈암1호점',
 '서희헤어',
 '아벨헤어',
 '네이처헤어 상봉점',
 '제이비헤어스토리 청담점',
 '롤헤어 신림본점',
 '막스헤어뷰 1호점',
 '프로젝트라빠헤어 까치산점',
 '힐헤어',
 '주은헤어',
 '올드스캣',
 '노향희헤어갤러리',
 '앤즈헤어',
 '벨라헤어',
 '모던타임즈헤어',
 '살롱엘라',
 '보떼드소준',
 'W hair&make up',
 '아티스틱',
 '박승철헤어스투디오 영등포홈플러스점',
 '제오헤어 구로디지털단지점',
 '바이진2',
 '살롱드엘',
 '버스커헤어',
 '헤어스튜디오J',
 '아이엘 라인 헤어',
 '아이온헤어',
 '준오헤어 서울대역1호점',
 'SAHAIR',
 '헤어벨리시마 건대점',
 '제오헤어 마포점',
 'W헤어',
 '아이벨르팜므 강동점',
 '낭만부티크',
 '준오헤어 한티역점',
 'HAROO HAIR',
 '이철헤어커커 한성대역점',
 '이철헤어커커 발산역점',
 '주헤어',
 '라브리지 헤어살롱 자양점',
 '에이투',
 '자이헤어',
 '빛나헤어아트',
 '살롱드라보떼',
 '코코헤어',
 '나즈 앤 나빈',
 '공입수헤어갤러리',
 'KJ 스타일',
 '디탐헤어 건대점',
 '리안헤어 창동어울림점',
 '박승철헤어스투디오 성수이마트점',
 '네이처헤어 수락1호점',
 '가빈헤어',
 '네이처헤어 미아1호점',
 '리안헤어 어린이대공원역점',
 '자스민헤어살롱',
 '커틸다헤어살롱 동대문점',
 '리안헤어 방이시장점',
 '인팩트오타쿠 까치산점',
 '살롱드프롬 노원점',
 '리안헤어 신도림역점',
 '소옴살롱',
 '살롱드에비뉴 사가정점',
 '헤어바이수',
 '아톰헤어 성신여대본점',
 '리안헤어 전농사거리점',
 '준오헤어 신림역2호점',
 '체인지이즈굿',
 '문헤어 이마트점',
 '마타헤어',
 '에즈헤어라운지 외대점',
 '셰르헤어',
 '로얄살롱',
 '르메이어 헤어',
 '제오헤어 건대점',
 'ys헤어',
 '스타일레드',
 '트리플헤어디자인',
 'WM헤어 반포점',
 '헤어포인트',
 '쟈당헤어',
 '카미유헤어',
 '진미장살롱',
 '그라티아',
 '헤어아티스트M 구로역점',
 '리안헤어 송파역점',
 '준오헤어 선릉역2호점',
 '라프레사',
 '보그헤어 구로지밸리몰점',
 '박승철헤어스투디오 상봉이마트점',
 '리안헤어 송정역점',
 '리소헤어 노량진점',
 '제오헤어 방배점',
 '오랑헤어 압구정본점',
 '이철헤어커커 목동홈플러스점',
 '꿈결헤어',
 '모네살롱',
 '리안헤어 구로디지털밸리점',
 '리엑스류헤어샵 문정훼미리점',
 '알렉산드르 드 파리',
 '박승철헤어스투디오 흑석점',
 '라온헤어',
 '보그헤어 보라매역점',
 '엘리시아헤어수유본점',
 'JJ헤어네일 수유',
 '박승철헤어스투디오 롯데월드몰점',
 '아이브로우바 바이이연 홍대점',
 '나나베이지',
 '보그헤어 우장산역점',
 '리안헤어 상암월드컵파크점',
 '티티붙임머리',
 '하헤리-하군의헤어이야기',
 '박승철헤어스투디오 연신내점',
 '이가자헤어비스 신대방삼거리점',
 '히로헤어살롱',
 '라끄헤어',
 '모즈헤어 삼성점',
 '준오헤어 영등포점',
 '정샘물인스피레이션 에비뉴엘점',
 '살롱드노바',
 '비비엔느헤어',
 'J4U헤어살롱',
 '까사델헤어',
 '서지희헤어',
 '리안헤어 구의역점',
 '더헤어 감동',
 '살롱160',
 '앤비스토리헤어',
 '아이벨르팜므 강서힐스테이트점',
 '헤어아떼 송정역점',
 '디토헤어살롱',
 '다시봄헤어',
 '이철헤어커커 은평뉴타운점',
 '오다헤어 상봉점',
 '루시헤어',
 '헤어멘토',
 '어반스타일러',
 '휴미용실',
 '헤어파티',
 '차헤어샵',
 '살롱오디너리',
 '리안헤어 수유점',
 '설레임헤어',
 '제오헤어 구로디지털태평양점',
 '살롱제이미',
 '인트라다by한지오 홍대메세나점',
 'The감동 수유점',
 '연희살롱',
 '초이앤고',
 '제오헤어 여의도점',
 '제이드헤어',
 '모즈헤어 숙대점',
 '브로스헤어살롱',
 '베이바이허슬기 그린&레드점',
 '루디아메이크업헤어',
 '우정민헤어',
 '차랑헤어',
 '천경숙헤어',
 'H STYLE헤어살롱 장위점',
 '이가자헤어비스 남현홈플러스점',
 '헤어베네',
 '라브리지헤어 명동점',
 '청담서율HAIR',
 'SalonDe광봉Hair&Beauty',
 '엠플러스',
 '수성헤어',
 '라떼뜨헤어',
 'We Hair',
 '준오헤어 구의역점',
 '리소헤어 건대점',
 '박승철헤어스투디오 미아역점',
 '준오헤어 여의도IFC몰점',
 '이철헤어커커 신방화역점',
 '리소헤어 홍대점',
 '헤어아티스트M 마포점',
 '김민진헤어방배점',
 'L7hair 성신여대점',
 '미오름헤어 1호점',
 '박승철헤어스투디오 잠실홈플러스점',
 '엘세븐헤어 신촌연대점',
 '엘레아노헤어',
 '민엘헤어',
 '이철헤어커커 중앙대후문점',
 '봄오후2시',
 '떼뜨베르',
 '더설렘헤어',
 '미코헤어',
 '헤어작업실',
 '드엔',
 '박공헤어 약수하우스',
 '이노헤어',
 '이철헤어커커 방학홈플러스점',
 '마에스트로헤어수서역점',
 '라벨르헤어',
 '헤어템',
 '날아 헤어',
 '헤어그리미',
 '아름다운작업장',
 '라빈헤어 본점',
 '박준뷰티랩 신도림점',
 '데생헤어',
 '지노헤어 난곡점',
 '슈가헤어 신정점',
 '리안헤어 먹골점',
 '4D헤어 낙성대본점',
 '릴리프헤어 반포점',
 '커밍헤어',
 '레이스토리',
 '뉴엘헤어',
 '비엠헤어다이스 5호점',
 '신림붙임머리 조조헤어',
 '리안헤어 문정역점',
 '로코코헤어',
 '스타일그루에스',
 '링고헤어',
 '미누헤어',
 '리안헤어 하나로클럽신촌점',
 '봄헤어살롱 2호점',
 '아이벨르팜므 신방화역점',
 '조헤어',
 '피가로스미용실',
 '미다스헤어',
 '로앤로우',
 '제오헤어 화곡역점',
 '헤어아티스트m 용산점',
 '리소헤어 강남점',
 '리안헤어 신반포역래미안점',
 '에이치헤어드레서',
 '이철헤어커커 경희대점',
 'SODA HAIR',
 '강남순헤어',
 '조희미용실',
 '영등포미용실 W셀렉션',
 '네추럴데이즈 낙성대점',
 '살롱에이 목동점',
 '가빈헤어',
 '호시헤어',
 '메종드ic',
 '지노헤어 한양대점',
 '박승철헤어스투디오 보라매역점',
 '아티스트태양',
 '준오헤어 홍대2호점',
 '패밀리헤어',
 'DOHAIR',
 '리안헤어 이수이마트점',
 '머시헤어 3호점',
 '조아hair',
 '스위트벙커',
 '박승철헤어스투디오 왕십리역점',
 '헤어살롱오브 본점',
 '맷블랙헤어 성신여대점',
 '용군샵',
 '살롱드벨레자',
 '리안헤어 당곡사거리점',
 '리안헤어 보라매역점',
 '제오헤어 신천역점',
 '리안헤어 미아사거리역점',
 '진우헤어 홍대점',
 '보니또헤어살롱',
 '아르헤헤어',
 '뷰헤어',
 '헤움',
 '보이지않는차이 Advance',
 '제오헤어 홍제점',
 '스타일리스트',
 '썸헤어',
 '보그헤어 신도림역점',
 '엘세븐헤어 내방역점',
 '살랑',
 '살롱 드 옥스',
 '박승철헤어스투디오 염창역점',
 '헤어바이일리오스',
 'Wythe138',
 '샤샤wave',
 '에떼르넬헤어살롱 사옥점',
 '마루헤어',
 '다올헤어샵',
 '봉봉헤어살롱',
 '지노헤어 동덕여대점',
 '플랜에이치 압구정 로데오 본점',
 '쓰리스토리 도산점',
 '해방촌미용실',
 '리안헤어 시흥점',
 '리즈 헤어라벨르 홍대점',
 '보그헤어 천호역점',
 '이민헤어혼 신길점',
 '우연히행복해지다 프리미엄 본점',
 '헤어살롱디',
 '룬헤어',
 '리소헤어 연세로점',
 'N5Hair',
 '박승철헤어스투디오 신도림홈플러스점',
 '김환헤어디자인',
 'A LITTLE BIT',
 '리안헤어 방배카페거리점',
 '조성기헤어샵',
 '고바이',
 '장폴헤어살롱',
 '살롱드콤마',
 '헤어광',
 '스튜디오모니크',
 '이철헤어커커 대치점',
 '비엠헤어다이스 역삼2호점',
 '루미오뷰티하우스',
 '헤어플랜',
 '오다헤어 이태원로데오점',
 '초이스살롱',
 '권홍헤어 사가정',
 'CHOPHAIR 대치점',
 '미미네살롱',
 '크레이지wc',
 'Hairby우호우상 신천점',
 '지노헤어 노원역점',
 '도고헤어',
 '베이바이허슬기 오렌지점',
 '헤어바이반룬하우트 대치점',
 '리안헤어 불광점',
 '반에스',
 '플레이그라운드헤어',
 '제오헤어 서울대입구역점',
 '다옴샵',
 '리안헤어 경희대점',
 '프라이빗',
 '헤어살롱드보르 약수점',
 '소호헤어',
 '여우미가',
 '김활란뮤제네프 청담부티끄점',
 '박승철헤어스투디오 마곡점',
 '사틴헤어 대치점',
 '지노헤어 화곡역점',
 '토리헤어 잠실레이크점',
 '덕수미장원',
 '준오헤어 잠실롯데월드몰점',
 '준오헤어 명동2호점',
 '준오헤어 명동3호점',
 '준오헤어 명동4호점',
 '준오헤어 노원역점',
 '준오헤어 노원문화의거리점',
 '준오헤어 서울대샤로수길점',
 '준오헤어 강남우성점',
 '준오헤어 종합운동장사거리점',
 '준오헤어 연대1호점',
 '준오헤어 왕십리역1호점',
 '준오헤어 천호동로데오점',
 '준오헤어 합정메세나폴리스점',
 '준오헤어 홍대1호점',
 '준오헤어 대학로점',
 '아이디헤어 은평뉴타운점',
 '이열헤어컷 1호점',
 '준오헤어 수유역점',
 '리안헤어 신곡시장점',
 '린헤어',
 '써드힐 헤어스파',
 '리안헤어 강변역점',
 '초이헤어',
 '오다헤어 중앙대점',
 '현앤현헤어',
 '살리고헤어',
 '제미르시앙 헤어',
 '디어헤어',
 '김호증모 도봉구 체인점',
 '모던헤어',
 '캄스헤어',
 '트리플엑스 대학로점',
 '자연머리 수락2호점',
 '리소헤어 노원점',
 '준앤안티 고덕점',
 '제오헤어 금호점',
 '카벨로',
 '모스트헤어',
 '박승철헤어스투디오 남가좌점',
 '세종헤어 천호점',
 '이엔에스',
 '준오헤어 명동1호점',
 '이지헤어 연남점',
 'H STYLE헤어살롱 강동역점',
 'W헤어',
 '헤어스테이지 미용실',
 '머리만지는사람 한성대본점',
 '마레헤어 시흥점',
 '핀다',
 '준오헤어 목동41타워점',
 '1층 미용실 엄쏭',
 '수람헤어',
 '쟈르다뷰티헤어살롱',
 '준오헤어 길동역점',
 '미노헤어',
 '미소헤어',
 '서해민미용실',
 '이훈ALL30000',
 '한비헤어',
 '리소헤어 구로디지털단지점',
 '더예쁜머리 강남점',
 '리안헤어 명지대점',
 '아이디헤어 반포3호점',
 '이철헤어커커 위례신도시점',
 '애드미헤어',
 '에이제이헤어',
 '이철헤어커커 이노시티상봉점',
 '최가을헤어드레서 공덕점',
 '더 하우스 가좌점',
 'MY DESIGNER HAIRSHOP',
 '아크미미용실',
 '살롱드마샬 명동점',
 '데이바이데이정헤어',
 '리안헤어 한양대점',
 '헤어바이화랑',
 '리소헤어 성신여대점',
 '헤어앤손뇨',
 '오땡큐 공릉점',
 '지노헤어 공릉점',
 '박숙경헤어살롱',
 '이니지오미용실',
 '모로헤어',
 '몽키헤어',
 '루시르헤어',
 '제다헤어 외대점',
 '김희경헤어그라또',
 '지노헤어 중앙대점',
 '미랑컬헤어 마곡점',
 '유민헤어아뜨리에',
 '찰스바버샵 홍대본점',
 '루이헤어코프 방이점',
 '바바헤어 까치산점',
 '스카이헤어',
 '맨케이션',
 '윤희헤어',
 '니우',
 '설렘 미용실',
 ...]

In [48]:
df_hairshops = DataFrame({'store_name' : shops})
df_hairshops

        store_name
0         지모헤어 홍대점
1             다크헤어
2            라메종뷰티
3        자쓰리헤어 구산점
4         뮤사이 살롱드점
...            ...
2677      토브헤어 숙대점
2678     인더살롱 수유본점
2679          나우헤어
2680  헤어디자인모습 두번째점
2681        청년 미장원

[2682 rows x 1 columns]

In [49]:
df_hairshops['mecab'] = df_hairshops.store_name.apply(mecab.morphs)
df_hairshops

        store_name                      mecab
0         지모헤어 홍대점            [지모, 헤어, 홍대, 점]
1             다크헤어                   [다크, 헤어]
2            라메종뷰티                [라메, 종, 뷰티]
3        자쓰리헤어 구산점         [자, 쓰리, 헤어, 구산, 점]
4         뮤사이 살롱드점          [뮤, 사이, 살, 롱드, 점]
...            ...                        ...
2677      토브헤어 숙대점            [토브, 헤어, 숙대, 점]
2678     인더살롱 수유본점           [인더, 살롱, 수유, 본점]
2679          나우헤어                   [나우, 헤어]
2680  헤어디자인모습 두번째점  [헤어, 디자인, 모습, 두, 번, 째, 점]
2681        청년 미장원                  [청년, 미장원]

[2682 rows x 2 columns]

In [50]:
from collections import defaultdict
storename_tag_dict = defaultdict(lambda: 'I-ORG')
storename_tag_dict[0] = 'B-ORG'
storename_tag_dict

defaultdict(<function __main__.<lambda>()>, {0: 'B-ORG'})

In [51]:
def get_storename_BIO_tag(morphs: list):
    return [storename_tag_dict[i] for i in range(len(morphs))]

In [52]:
df_hairshops['BIO_tag'] = df_hairshops.mecab.apply(get_storename_BIO_tag)
df_hairshops

,store_name,mecab,BIO_tag
0,지모헤어 홍대점,"[지모, 헤어, 홍대, 점]","[B-ORG, I-ORG, I-ORG, I-ORG]"
1,다크헤어,"[다크, 헤어]","[B-ORG, I-ORG]"
2,라메종뷰티,"[라메, 종, 뷰티]","[B-ORG, I-ORG, I-ORG]"
3,자쓰리헤어 구산점,"[자, 쓰리, 헤어, 구산, 점]","[B-ORG, I-ORG, I-ORG, I-ORG, I-ORG]"
4,뮤사이 살롱드점,"[뮤, 사이, 살, 롱드, 점]","[B-ORG, I-ORG, I-ORG, I-ORG, I-ORG]"
...,...,...,...
2677,토브헤어 숙대점,"[토브, 헤어, 숙대, 점]","[B-ORG, I-ORG, I-ORG, I-ORG]"
2678,인더살롱 수유본점,"[인더, 살롱, 수유, 본점]","[B-ORG, I-ORG, I-ORG, I-ORG]"
2679,나우헤어,"[나우, 헤어]","[B-ORG, I-ORG]"
2680,헤어디자인모습 두번째점,"[헤어, 디자인, 모습, 두, 번, 째, 점]","[B-ORG, I-ORG, I-ORG, I-ORG, I-ORG, I-ORG, I-ORG]"
2681,청년 미장원,"[청년, 미장원]","[B-ORG, I-ORG]"

## 5) 어미

In [53]:
import pickle

with open('./output_data/ending_words_re.pickle', 'rb') as f:
    ending_words_r = pickle.load(f)

with open('./output_data/ending_words_que_loc.pickle', 'rb') as f:
    ending_words_q_loc = pickle.load(f)
    
with open('./output_data/ending_words_que_price.pickle', 'rb') as f:
    ending_words_q_price = pickle.load(f)
    
with open('./output_data/ending_words_que_review.pickle', 'rb') as f:
    ending_words_q_review = pickle.load(f)

In [54]:
df_ending_words_r = DataFrame({'ending_words_r': ending_words_r})
df_ending_words_r

          ending_words_r
0         추천해줄만한 데 물어볼게요
1               훌륭한 데 있죠
2       실패한적 없는 데 어디 없나요
3      실패한적 없는 헤어샵 있으신지요
4             지리는 곳 어디였죠
...                  ...
12461       좋은 헤어샵 어디있나요
12462          잘하는 데 부탁해
12463    추천가능한 헤어샵 궁금한데요
12464        추천할 데 궁금한데요
12465         훌륭한 데 뭐가있죠

[12466 rows x 1 columns]

In [55]:
df_ending_words_q_loc = DataFrame({'ending_words_q_loc': ending_words_q_loc})
df_ending_words_q_loc

    ending_words_q_loc
0              상세주소 알까
1           자세한 위치 알려줘
2              주소 알려줘요
3           자세한 위치 물어봐
4                장소 아냐
..                 ...
454      상세주소 어디 위치해있죠
455      자세한 장소 어디에있어요
456                어디냐
457             주소 물어봐
458            장소 어뎁니까

[459 rows x 1 columns]

In [56]:
df_ending_words_q_price = DataFrame({'ending_words_q_price': ending_words_q_price})
df_ending_words_q_price

    ending_words_q_price
0                  비용 알아
1                  값 아세요
2              액수 물어볼려고요
3                 비용 알아요
4           하는 가격 얼마입니까?
..                   ...
490                 어떻죠?
491              값 질문합니다
492              값 부탁드려요
493                질문합니다
494             가격 물어볼게예

[495 rows x 1 columns]

In [57]:
df_ending_words_q_review = DataFrame({'ending_words_q_review': ending_words_q_review})
df_ending_words_q_review

     ending_words_q_review
0                     평 뭐죠
1             광고없는리뷰 여쭤볼라고
2           가본 사람들 평가 없습니까
3                 솔직반응 아세요
4                   반응 뭘까요
...                    ...
3532           사람들 후기 알려줄래
3533         솔직한 평가 가르쳐주세요
3534            솔직평가 질문드려요
3535              진짜리뷰 찾아줘
3536            실제후기 여쭤볼라고

[3537 rows x 1 columns]

In [58]:
# 한글만 남기기
def get_only_korean(string):
    return re.sub('[^ ㄱ-ㅎ가-힣]+', '', string)

In [59]:
# 혹시 모를 한글 제거
df_ending_words_r['ending_words_r'] = df_ending_words_r.ending_words_r.apply(get_only_korean)
df_ending_words_q_loc['ending_words_q_loc'] = df_ending_words_q_loc.ending_words_q_loc.apply(get_only_korean)
df_ending_words_q_price['ending_words_q_price'] = df_ending_words_q_price.ending_words_q_price.apply(get_only_korean)
df_ending_words_q_review['ending_words_q_review'] = df_ending_words_q_review.ending_words_q_review.apply(get_only_korean)

In [60]:
# 추천 어미 형태소 분석
df_ending_words_r['mecab'] = df_ending_words_r.ending_words_r.apply(mecab.morphs)
df_ending_words_r.head(2)

   ending_words_r                         mecab
0  추천해줄만한 데 물어볼게요  [추천, 해, 줄, 만, 한, 데, 물어볼, 게요]
1        훌륭한 데 있죠              [훌륭, 한, 데, 있, 죠]

In [61]:
# 위치 문의 어미 형태소 분석
df_ending_words_q_loc['mecab'] = df_ending_words_q_loc.ending_words_q_loc.apply(mecab.morphs)
df_ending_words_q_loc.head(2)

  ending_words_q_loc             mecab
0            상세주소 알까    [상세, 주소, 알, 까]
1         자세한 위치 알려줘  [자세, 한, 위치, 알려줘]

In [62]:
# 가격 문의 어미 형태소 분석
df_ending_words_q_price['mecab'] = df_ending_words_q_price.ending_words_q_price.apply(mecab.morphs)
df_ending_words_q_price.head(2)

  ending_words_q_price       mecab
0                비용 알아  [비용, 알, 아]
1                값 아세요    [값, 아세요]

In [63]:
# 리뷰 문의 어미 형태소 분석
df_ending_words_q_review['mecab'] = df_ending_words_q_review.ending_words_q_review.apply(mecab.morphs)
df_ending_words_q_review.head(2)

  ending_words_q_review                    mecab
0                  평 뭐죠                [평, 뭐, 죠]
1          광고없는리뷰 여쭤볼라고  [광고, 없, 는, 리뷰, 여쭤, 볼라고]

In [64]:
from collections import defaultdict
out_of_tag_dict = defaultdict(lambda: 'O')
out_of_tag_dict

defaultdict(<function __main__.<lambda>()>, {})

In [65]:
def get_out_of_BIO_tag(morphs: list):
    return [out_of_tag_dict[i] for i in range(len(morphs))]

In [66]:
# 추천 어미 BIO 태깅
df_ending_words_r['BIO_tag'] = df_ending_words_r.mecab.apply(get_out_of_BIO_tag)
df_ending_words_r.head(2)

   ending_words_r                         mecab                   BIO_tag
0  추천해줄만한 데 물어볼게요  [추천, 해, 줄, 만, 한, 데, 물어볼, 게요]  [O, O, O, O, O, O, O, O]
1        훌륭한 데 있죠              [훌륭, 한, 데, 있, 죠]           [O, O, O, O, O]

In [67]:
# 위치 문의 어미 BIO 태깅
df_ending_words_q_loc['BIO_tag'] = df_ending_words_q_loc.mecab.apply(get_out_of_BIO_tag)
df_ending_words_q_loc.head(2)

  ending_words_q_loc             mecab       BIO_tag
0            상세주소 알까    [상세, 주소, 알, 까]  [O, O, O, O]
1         자세한 위치 알려줘  [자세, 한, 위치, 알려줘]  [O, O, O, O]

In [68]:
# 가격 문의 어미 BIO 태깅
df_ending_words_q_price['BIO_tag'] = df_ending_words_q_price.mecab.apply(get_out_of_BIO_tag)
df_ending_words_q_price.head(2)

  ending_words_q_price       mecab    BIO_tag
0                비용 알아  [비용, 알, 아]  [O, O, O]
1                값 아세요    [값, 아세요]     [O, O]

In [69]:
# 리뷰 문의 어미 BIO 태깅
df_ending_words_q_review['BIO_tag'] = df_ending_words_q_review.mecab.apply(get_out_of_BIO_tag)
df_ending_words_q_review.head(2)

  ending_words_q_review                    mecab             BIO_tag
0                  평 뭐죠                [평, 뭐, 죠]           [O, O, O]
1          광고없는리뷰 여쭤볼라고  [광고, 없, 는, 리뷰, 여쭤, 볼라고]  [O, O, O, O, O, O]

---
# 2. 질문 말뭉치 만들기


### 완성된 BIO tagging 말뭉치
- 1) 형용사
    - 1-1) 전체형용사
    - 1-2) 위치형용사
- 2) 스타일
- 3) 장소
    - 3-1) 구, 동
    - 3-2) 지하철역
- 4) 업소명
- 5) 어미
    - 추천요청어미
    - 위치문의어미
    - 가격문의어미
    - 리뷰문의어미

In [70]:
print('전체형용사 :', len(df_adjs_all))
print('위치형용사 :', len(df_adjs_loc))
print('스타일 :', len(df_styles))
print('장소 :', len(df_locations))
print('지하철역 :', len(df_stations))
print('업소명 :', len(df_hairshops))
print('추천요청어미 :', len(df_ending_words_r))
print('위치문의어미 :', len(df_ending_words_q_loc))
print('가격문의어미 :', len(df_ending_words_q_price))
print('리뷰문의어미 :', len(df_ending_words_q_review))

전체형용사 : 208
위치형용사 : 22
스타일 : 76
장소 : 41641
지하철역 : 295
업소명 : 2682
추천요청어미 : 12466
위치문의어미 : 459
가격문의어미 : 495
리뷰문의어미 : 3537

### 1) 추천요청 질문 말뭉치
- 1-1) 스타일 + 추천요청어미
- 1-2) 스타일 + 형용사 + 추천요청어미
- 1-3) 스타일 + 형용사 + 장소 + 추천요청어미
- 1-4) 스타일 + 장소 + 형용사 + 추천요청어미
- 1-5) 스타일 + 지하철역 + 위치형용사 + 추천요청어미
- 1-6) 형용사 + 추천요청어미
- 1-7) 형용사 + 스타일 + 추천요청어미
- 1-8) 형용사 + 형용사 + 추천요청어미
- 1-9) 형용사 + 스타일 + 장소 + 추천요청어미
- 1-10) 형용사 + 스타일 + 지하철역 + 위치형용사 + 추천요청어미
- 1-11) 장소 + 추천요청어미 
- 1-12) 장소 + 스타일 + 추천요청어미
- 1-13) 장소 + 형용사 + 추천요청어미
- 1-14) 장소 + 형용사 + 스타일 + 추천요청어미
- 1-15) 지하철역 + 위치형용사 + 추천요청어미
- 1-16) 지하철역 + 위치형용사 + 형용사 + 추천요청어미

### 2) 문의(위치, 가격, 리뷰) 질문 말뭉치
- 2-1) 업소명 + 위치문의어미
- 2-2) 업소명 + 가격문의어미
- 2-3) 업소명 + 리뷰문의어미
- 2-4) 업소명 + 스타일 + 리뷰문의어미
- 2-5) 장소 + 업소명 + 위치문의어미
- 2-6) 장소 + 업소명 + 가격문의어미
- 2-7) 장소 + 업소명 + 리뷰문의어미
- 2-8) 장소 + 업소명 + 스타일 + 리뷰문의어미
- 2-9) 지하철역 + 업소명 + 위치문의어미
- 2-10) 지하철역 + 업소명 + 가격문의어미
- 2-11) 지하철역 + 업소명 + 리뷰문의어미
- 2-12) 지하철역 + 업소명 + 스타일 + 리뷰문의어미

In [71]:
# 1-1) 스타일 + 추천요청어미
r1 = len(df_styles) * len(df_ending_words_r)

# 1-2) 스타일 + 형용사 + 추천요청어미
r2 = len(df_styles) * len(df_adjs_all) * len(df_ending_words_r)

# 1-3) 스타일 + 형용사 + 장소 + 추천요청어미
r3 = len(df_styles) * len(df_adjs_all) * len(df_locations) * len(df_ending_words_r)

# 1-4) 스타일 + 장소 + 형용사 + 추천요청어미
r4 = len(df_styles) * len(df_locations) * len(df_adjs_all) * len(df_ending_words_r)

# 1-5) 스타일 + 지하철역 + 위치형용사 + 추천요청어미
r5 = len(df_styles) * len(df_stations) * len(df_adjs_loc) * len(df_ending_words_r)

# 1-6) 형용사 + 추천요청어미
r6 = len(df_adjs_all) * len(df_ending_words_r)

# 1-7) 형용사 + 스타일 + 추천요청어미
r7 = len(df_adjs_all) * len(df_styles) * len(df_ending_words_r)

# 1-8) 형용사 + 형용사 + 추천요청어미
r8 = len(df_adjs_all) * len(df_adjs_all) * len(df_ending_words_r)

# 1-9) 형용사 + 스타일 + 장소 + 추천요청어미
r9 = len(df_adjs_all) * len(df_styles) * len(df_locations) * len(df_ending_words_r)

# 1-10) 형용사 + 스타일 + 지하철역 + 위치형용사 + 추천요청어미
r10 = len(df_adjs_all) * len(df_styles) * len(df_stations) * len(df_adjs_loc) * len(df_ending_words_r)

# 1-11) 장소 + 추천요청어미 
r11 = len(df_locations) * len(df_ending_words_r)

# 1-12) 장소 + 스타일 + 추천요청어미
r12 = len(df_locations) * len(df_styles) * len(df_ending_words_r)

# 1-13) 장소 + 형용사 + 추천요청어미
r13 = len(df_locations) * len(df_adjs_all) * len(df_ending_words_r)

# 1-14) 장소 + 형용사 + 스타일 + 추천요청어미
r14 = len(df_locations) * len(df_adjs_all) * len(df_styles) * len(df_ending_words_r)

# 1-15) 지하철역 + 위치형용사 + 추천요청어미
r15 = len(df_stations) * len(df_adjs_loc) * len(df_ending_words_r)

# 1-16) 지하철역 + 위치형용사 + 형용사 + 추천요청어미
r16 = len(df_stations) * len(df_adjs_loc) * len(df_adjs_all) * len(df_ending_words_r)

print('r1 :', r1)
print('r2 :', r2)
print('r3 :', r3)
print('r4 :', r4)
print('r5 :', r5)
print('r6 :', r6)
print('r7 :', r7)
print('r8 :', r8)
print('r9 :', r9)
print('r10 :', r10)
print('r11 :', r11)
print('r12 :', r12)
print('r13 :', r13)
print('r14 :', r14)
print('r15 :', r15)
print('r16 :', r16)
print('r total :', r1 + r2 + r3 + r4 + r5 + r6 + r7 + r8 + r9 + r10 + r11 + r12 + r13 + r14 + r15 + r16)

r1 : 947416
r2 : 197062528
r3 : 8205880728448
r4 : 8205880728448
r5 : 6148729840
r6 : 2592928
r7 : 197062528
r8 : 539329024
r9 : 8205880728448
r10 : 1278935806720
r11 : 519096706
r12 : 39451349656
r13 : 107972114848
r14 : 8205880728448
r15 : 80904340
r16 : 16828102720
r total : 34274396013046

In [72]:
100/16

6.25

각 추천 질문당 6만2천5백개 씩 만들면 100만개 추천요청 질문 생성!

In [73]:
# 2-1) 업소명 + 위치문의어미
q1 = len(df_hairshops) * len(df_ending_words_q_loc)

# 2-2) 업소명 + 가격문의어미
q2 = len(df_hairshops) * len(df_ending_words_q_price)

# 2-3) 업소명 + 리뷰문의어미
q3 = len(df_hairshops) * len(df_ending_words_q_review)

# 2-4) 업소명 + 스타일 + 리뷰문의어미
q4 = len(df_hairshops) * len(df_styles) * len(df_ending_words_q_review)

# 2-5) 장소 + 업소명 + 위치문의어미
q5 = len(df_locations) * len(df_hairshops) * len(df_ending_words_q_loc)

# 2-6) 장소 + 업소명 + 가격문의어미
q6 = len(df_locations) * len(df_hairshops) * len(df_ending_words_q_price)

# 2-7) 장소 + 업소명 + 리뷰문의어미
q7 = len(df_locations) * len(df_hairshops) * len(df_ending_words_q_review)

# 2-8) 장소 + 업소명 + 스타일 + 리뷰문의어미
q8 = len(df_locations) * len(df_hairshops) * len(df_styles) * len(df_ending_words_q_review)

# 2-9) 지하철역 + 업소명 + 위치문의어미
q9 = len(df_stations) * len(df_hairshops) * len(df_ending_words_q_loc)

# 2-10) 지하철역 + 업소명 + 가격문의어미
q10 = len(df_stations) * len(df_hairshops) * len(df_ending_words_q_price)

# 2-11) 지하철역 + 업소명 + 리뷰문의어미 
q11 = len(df_stations) * len(df_hairshops) * len(df_ending_words_q_review)

# 2-12) 지하철역 + 업소명 + 스타일 + 리뷰문의어미 
q12 = len(df_stations) * len(df_hairshops) * len(df_styles) * len(df_ending_words_q_review)

print('q1 :', q1)
print('q2 :', q2)
print('q3 :', q3)
print('q4 :', q4)
print('q5 :', q5)
print('q6 :', q6)
print('q7 :', q7)
print('q8 :', q8)
print('q9 :', q9)
print('q10 :', q10)
print('q11 :', q11)
print('q12 :', q12)
print('q total :', q1 + q2 + q3 + q4 + q5 + q6 + q7 + q8 + q9 + q10 + q11 + q12)

q1 : 1231038
q2 : 1327590
q3 : 9486234
q4 : 720953784
q5 : 51261653358
q6 : 55282175190
q7 : 395016269994
q8 : 30021236519544
q9 : 363156210
q10 : 391639050
q11 : 2798439030
q12 : 212681366280
q total : 30739764217302

In [74]:
100 / 12

8.333333333333334

각 문의 질문당 8만 3천 3백 3십 3개씩 만들면 문의 질문 100만개 생성!

---
## 1) 추천요청 질문 생성

In [75]:
import random
from tqdm.notebook import tqdm

In [76]:
# 추천 질문을 저장
r_questions = []

# 추천 질문 형태소 분석 결과를 저장
r_mecabs = []

# 추천 질문 BIO 태그를 저장
r_tags = []

In [77]:
def make_sentences(q_type: str, dfs: list):
    
    idxes = list(range(len(dfs)))
    for i, df in enumerate(dfs):
        idxes[i] = random.randint(0, len(df)-1)
    
    rows = list(range(len(dfs)))
    for i, df in enumerate(dfs):
        rows[i] = df.iloc[idxes[i]]
    
    tmp_question = ''
    tmp_mecab = []
    tmp_tag = []
    for i, df in enumerate(dfs):
        if df.columns[0] == 'style':
            if q_type == 'r':
                tmp_question += rows[i][0] + ' 잘하는' + ' '
                tmp_mecab += rows[i][1] + ['잘', '하', '는']
                tmp_tag += rows[i][2] + ['O', 'O', 'O']
            else:
                tmp_question += rows[i][0] + ' '
                tmp_mecab += rows[i][1]
                tmp_tag += rows[i][2]
        elif df.columns[0] == 'ending_words_r':
            if '잘하는' in rows[i][0]:
                tmp_question = tmp_question[:-5]
                tmp_mecab = tmp_mecab[:-3]
                tmp_tag = tmp_tag[:-3]
            tmp_question += rows[i][0] + ' '
            tmp_mecab += rows[i][1]
            tmp_tag += rows[i][2]
        
        elif df.columns[0] == 'location':
            tmp_question += rows[i][0] + '에' + ' '
            tmp_mecab += rows[i][1] + ['에']
            tmp_tag += rows[i][2] + ['O']
        
        elif df.columns[0] == 'station':
            tmp_question += rows[i][0] + '에서' + ' '
            tmp_mecab += rows[i][1] + ['에서']
            tmp_tag += rows[i][2] + ['O']
        
        else:
            tmp_question += rows[i][0] + ' '
            tmp_mecab += rows[i][1]
            tmp_tag += rows[i][2]

    tmp_question =tmp_question.strip()
    
    return tmp_question, tmp_mecab, tmp_tag

In [78]:
# 1-1) 스타일 + 추천요청어미
print('1-1) 스타일 + 추천요청어미')
for i in tqdm(range(62500)):
    
    result = make_sentences('r', [df_styles, df_ending_words_r])
    
    r_questions.append(result[0])
    r_mecabs.append(result[1])
    r_tags.append(result[2])

print(r_questions[-1])
print(r_mecabs[-1])
print(r_tags[-1])
print()

# 1-2) 스타일 + 형용사 + 추천요청어미
print('1-2) 스타일 + 형용사 + 추천요청어미')
for i in tqdm(range(62500)):
    
    result = make_sentences('r', [df_styles, df_adjs_all, df_ending_words_r])
    
    r_questions.append(result[0])
    r_mecabs.append(result[1])
    r_tags.append(result[2])

print(r_questions[-1])
print(r_mecabs[-1])
print(r_tags[-1])
print()

# 1-3) 스타일 + 형용사 + 장소 + 추천요청어미
print('1-3) 스타일 + 형용사 + 장소 + 추천요청어미')
for i in tqdm(range(62500)):
    
    result = make_sentences('r', [df_styles, df_adjs_all, df_locations, df_ending_words_r])
    
    r_questions.append(result[0])
    r_mecabs.append(result[1])
    r_tags.append(result[2])

print(r_questions[-1])
print(r_mecabs[-1])
print(r_tags[-1])
print()

# 1-4) 스타일 + 장소 + 형용사 + 추천요청어미
print('1-4) 스타일 + 장소 + 형용사 + 추천요청어미')
for i in tqdm(range(62500)):
    
    result = make_sentences('r', [df_styles, df_locations, df_adjs_all, df_ending_words_r])
    
    r_questions.append(result[0])
    r_mecabs.append(result[1])
    r_tags.append(result[2])

print(r_questions[-1])
print(r_mecabs[-1])
print(r_tags[-1])
print()

# 1-5) 스타일 + 지하철역 + 위치형용사 + 추천요청어미
print('1-5) 스타일 + 지하철역 + 위치형용사 + 추천요청어미')
for i in tqdm(range(62500)):
    
    result = make_sentences('r', [df_styles, df_stations, df_adjs_loc, df_ending_words_r])
    
    r_questions.append(result[0])
    r_mecabs.append(result[1])
    r_tags.append(result[2])

print(r_questions[-1])
print(r_mecabs[-1])
print(r_tags[-1])
print()

# 1-6) 형용사 + 추천요청어미
print('1-6) 형용사 + 추천요청어미')
for i in tqdm(range(62500)):
    
    result = make_sentences('r', [df_adjs_all, df_ending_words_r])
    
    r_questions.append(result[0])
    r_mecabs.append(result[1])
    r_tags.append(result[2])

print(r_questions[-1])
print(r_mecabs[-1])
print(r_tags[-1])
print()

# 1-7) 형용사 + 스타일 + 추천요청어미
print('1-7) 형용사 + 스타일 + 추천요청어미')
for i in tqdm(range(62500)):
    
    result = make_sentences('r', [df_adjs_all, df_styles, df_ending_words_r])
    
    r_questions.append(result[0])
    r_mecabs.append(result[1])
    r_tags.append(result[2])

print(r_questions[-1])
print(r_mecabs[-1])
print(r_tags[-1])
print()

# 1-8) 형용사 + 형용사 + 추천요청어미
print('1-8) 형용사 + 형용사 + 추천요청어미')
for i in tqdm(range(62500)):
    
    result = make_sentences('r', [df_adjs_all, df_adjs_all, df_ending_words_r])
    
    r_questions.append(result[0])
    r_mecabs.append(result[1])
    r_tags.append(result[2])

print(r_questions[-1])
print(r_mecabs[-1])
print(r_tags[-1])
print()

# 1-9) 형용사 + 스타일 + 장소 + 추천요청어미
print('1-9) 형용사 + 스타일 + 장소 + 추천요청어미')
for i in tqdm(range(62500)):
    
    result = make_sentences('r', [df_adjs_all, df_styles, df_locations, df_ending_words_r])
    
    r_questions.append(result[0])
    r_mecabs.append(result[1])
    r_tags.append(result[2])

print(r_questions[-1])
print(r_mecabs[-1])
print(r_tags[-1])
print()

# 1-10) 형용사 + 스타일 + 지하철역 + 위치형용사 + 추천요청어미
print('1-10) 형용사 + 스타일 + 지하철역 + 위치형용사 + 추천요청어미')
for i in tqdm(range(62500)):
    
    result = make_sentences('r', [df_adjs_all, df_styles, df_stations, df_adjs_loc, df_ending_words_r])
    
    r_questions.append(result[0])
    r_mecabs.append(result[1])
    r_tags.append(result[2])

print(r_questions[-1])
print(r_mecabs[-1])
print(r_tags[-1])
print()

# 1-11) 장소 + 추천요청어미 
print('1-11) 장소 + 추천요청어미 ')
for i in tqdm(range(62500)):
    
    result = make_sentences('r', [df_locations, df_ending_words_r])
    
    r_questions.append(result[0])
    r_mecabs.append(result[1])
    r_tags.append(result[2])

print(r_questions[-1])
print(r_mecabs[-1])
print(r_tags[-1])
print()

# 1-12) 장소 + 스타일 + 추천요청어미
print('1-12) 장소 + 스타일 + 추천요청어미')
for i in tqdm(range(62500)):
    
    result = make_sentences('r', [df_locations, df_styles, df_ending_words_r])
    
    r_questions.append(result[0])
    r_mecabs.append(result[1])
    r_tags.append(result[2])

print(r_questions[-1])
print(r_mecabs[-1])
print(r_tags[-1])
print()

# 1-13) 장소 + 형용사 + 추천요청어미
print('1-13) 장소 + 형용사 + 추천요청어미')
for i in tqdm(range(62500)):
    
    result = make_sentences('r', [df_locations, df_adjs_all, df_ending_words_r])
    
    r_questions.append(result[0])
    r_mecabs.append(result[1])
    r_tags.append(result[2])

print(r_questions[-1])
print(r_mecabs[-1])
print(r_tags[-1])
print()

# 1-14) 장소 + 형용사 + 스타일 + 추천요청어미
print('1-14) 장소 + 형용사 + 스타일 + 추천요청어미')
for i in tqdm(range(62500)):
    
    result = make_sentences('r', [df_locations, df_adjs_all, df_styles, df_ending_words_r])
    
    r_questions.append(result[0])
    r_mecabs.append(result[1])
    r_tags.append(result[2])

print(r_questions[-1])
print(r_mecabs[-1])
print(r_tags[-1])
print()

# 1-15) 지하철역 + 위치형용사 + 추천요청어미
print('1-15) 지하철역 + 위치형용사 + 추천요청어미')
for i in tqdm(range(62500)):
    
    result = make_sentences('r', [df_stations, df_adjs_loc, df_ending_words_r])
    
    r_questions.append(result[0])
    r_mecabs.append(result[1])
    r_tags.append(result[2])

print(r_questions[-1])
print(r_mecabs[-1])
print(r_tags[-1])
print()

# 1-16) 지하철역 + 위치형용사 + 형용사 + 추천요청어미
print('1-16) 지하철역 + 위치형용사 + 형용사 + 추천요청어미')
for i in tqdm(range(62500)):
    
    result = make_sentences('r', [df_stations, df_adjs_loc, df_adjs_all, df_ending_words_r])
    
    r_questions.append(result[0])
    r_mecabs.append(result[1])
    r_tags.append(result[2])

print(r_questions[-1])
print(r_mecabs[-1])
print(r_tags[-1])
print()

1-1) 스타일 + 추천요청어미

HBox(children=(FloatProgress(value=0.0, max=62500.0), HTML(value='')))

페미닌펌 잘하는 실패하지않는 데 뭐였어요
['페미', '닌', '펌', '잘', '하', '는', '실패', '하', '지', '않', '는', '데', '뭐', '였어요']
['B-STY', 'I-STY', 'I-STY', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']

1-2) 스타일 + 형용사 + 추천요청어미

HBox(children=(FloatProgress(value=0.0, max=62500.0), HTML(value='')))

트위스트펌 잘하는 우울하지 않은 예쁘게 하는 미용실 뭐지요
['트위스트', '펌', '잘', '하', '는', '우울', '하', '지', '않', '은', '예쁘', '게', '하', '는', '미용실', '뭐', '지요']
['B-STY', 'I-STY', 'O', 'O', 'O', 'B-ADJ', 'I-ADJ', 'I-ADJ', 'I-ADJ', 'I-ADJ', 'O', 'O', 'O', 'O', 'O', 'O', 'O']

1-3) 스타일 + 형용사 + 장소 + 추천요청어미

HBox(children=(FloatProgress(value=0.0, max=62500.0), HTML(value='')))

언발란스컷 잘하는 파격적인 가격의 서대문구 충무로에 추천할 데 어디일까요
['언', '발란스', '컷', '잘', '하', '는', '파격', '적', '인', '가격', '의', '서대문구', '충무로', '에', '추천', '할', '데', '어디', '일까요']
['B-STY', 'I-STY', 'I-STY', 'O', 'O', 'O', 'B-ADJ', 'I-ADJ', 'I-ADJ', 'I-ADJ', 'I-ADJ', 'B-LOC', 'I-LOC', 'O', 'O', 'O', 'O', 'O', 'O']

1-4) 스타일 + 장소 + 형용사 + 추천요청어미

HBox(children=(FloatProgress(value=0.0, max=62500.0), HTML(value='')))

내츄럴펌 잘하는 관악 중림에 깨끗한 잘해주는 미용실 있어예
['내츄럴', '펌', '잘', '하', '는', '관악', '중림', '에', '깨끗', '한', '잘', '해', '주', '는', '미용실', '있', '어', '예']
['B-STY', 'I-STY', 'O', 'O', 'O', 'B-LOC', 'I-LOC', 'O', 'B-ADJ', 'I-ADJ', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']

1-5) 스타일 + 지하철역 + 위치형용사 + 추천요청어미

HBox(children=(FloatProgress(value=0.0, max=62500.0), HTML(value='')))

페미닌펌 잘하는 마곡역에서 금방 걸어갈수 있는 솜씨좋은 미용실 있는가예
['페미', '닌', '펌', '잘', '하', '는', '마곡역', '에서', '금방', '걸어갈', '수', '있', '는', '솜씨', '좋', '은', '미용실', '있', '는가', '예']
['B-STY', 'I-STY', 'I-STY', 'O', 'O', 'O', 'B-SBW', 'O', 'B-ADJ', 'I-ADJ', 'I-ADJ', 'I-ADJ', 'I-ADJ', 'O', 'O', 'O', 'O', 'O', 'O', 'O']

1-6) 형용사 + 추천요청어미

HBox(children=(FloatProgress(value=0.0, max=62500.0), HTML(value='')))

허름하지 않은 아는 데 뭐있어요
['허름', '하', '지', '않', '은', '아', '는', '데', '뭐', '있', '어요']
['B-ADJ', 'I-ADJ', 'I-ADJ', 'I-ADJ', 'I-ADJ', 'O', 'O', 'O', 'O', 'O', 'O']

1-7) 형용사 + 스타일 + 추천요청어미

HBox(children=(FloatProgress(value=0.0, max=62500.0), HTML(value='')))

만족할만한 레게머리 잘하는 같이오고 싶은 헤어샵 뭐고
['만족', '할', '만', '한', '레게', '머리', '잘', '하', '는', '같이', '오', '고', '싶', '은', '헤어', '샵', '뭐', '고']
['B-ADJ', 'I-ADJ', 'I-ADJ', 'I-ADJ', 'B-STY', 'I-STY', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']

1-8) 형용사 + 형용사 + 추천요청어미

HBox(children=(FloatProgress(value=0.0, max=62500.0), HTML(value='')))

진짜 좋은 자연스러운 걱정없는 헤어샵 어데로가나
['진짜', '좋', '은', '자연', '스러운', '걱정', '없', '는', '헤어', '샵', '어데로', '가', '나']
['B-ADJ', 'I-ADJ', 'I-ADJ', 'B-ADJ', 'I-ADJ', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']

1-9) 형용사 + 스타일 + 장소 + 추천요청어미

HBox(children=(FloatProgress(value=0.0, max=62500.0), HTML(value='')))

다시 오고 싶은 발롱펌 잘하는 동대문 번동에 솜씨좋은 곳 가르쳐주세요
['다시', '오', '고', '싶', '은', '발', '롱', '펌', '잘', '하', '는', '동대문', '번동', '에', '솜씨', '좋', '은', '곳', '가르쳐', '주', '세요']
['B-ADJ', 'I-ADJ', 'I-ADJ', 'I-ADJ', 'I-ADJ', 'B-STY', 'I-STY', 'I-STY', 'O', 'O', 'O', 'B-LOC', 'I-LOC', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']

1-10) 형용사 + 스타일 + 지하철역 + 위치형용사 + 추천요청어미

HBox(children=(FloatProgress(value=0.0, max=62500.0), HTML(value='')))

가족같은 레게머리 잘하는 송정역에서 접근성잘하는 데 어딥니까
['가족', '같', '은', '레게', '머리', '잘', '하', '는', '송정역', '에서', '접근성', '잘', '하', '는', '데', '어딥니까']
['B-ADJ', 'I-ADJ', 'I-ADJ', 'B-STY', 'I-STY', 'O', 'O', 'O', 'B-SBW', 'O', 'B-ADJ', 'O', 'O', 'O', 'O', 'O']

1-11) 장소 + 추천요청어미

HBox(children=(FloatProgress(value=0.0, max=62500.0), HTML(value='')))

노원 명동에 추천해줄만한 곳 여쭤볼라고
['노원', '명동', '에', '추천', '해', '줄', '만', '한', '곳', '여쭤', '볼라고']
['B-LOC', 'I-LOC', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']

1-12) 장소 + 스타일 + 추천요청어미

HBox(children=(FloatProgress(value=0.0, max=62500.0), HTML(value='')))

송파 사당3동에 스왓컷 잘하는 좋은 곳 알려줄 수 있나요
['송파', '사당', '3', '동', '에', '스', '왓', '컷', '잘', '하', '는', '좋', '은', '곳', '알려', '줄', '수', '있', '나요']
['B-LOC', 'I-LOC', 'I-LOC', 'I-LOC', 'O', 'B-STY', 'I-STY', 'I-STY', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']

1-13) 장소 + 형용사 + 추천요청어미

HBox(children=(FloatProgress(value=0.0, max=62500.0), HTML(value='')))

영등포구 역촌에 아늑한 잘해주는 곳 알려줘요
['영등포구', '역촌', '에', '아늑', '한', '잘', '해', '주', '는', '곳', '알려', '줘요']
['B-LOC', 'I-LOC', 'O', 'B-ADJ', 'I-ADJ', 'O', 'O', 'O', 'O', 'O', 'O', 'O']

1-14) 장소 + 형용사 + 스타일 + 추천요청어미

HBox(children=(FloatProgress(value=0.0, max=62500.0), HTML(value='')))

서대문구 남영에 두상에 맞는 매직펌 잘하는 데려오고 싶은 곳 알려주시겠습니까
['서대문구', '남영', '에', '두상', '에', '맞', '는', '매직', '펌', '잘', '하', '는', '데려오', '고', '싶', '은', '곳', '알려', '주', '시', '겠', '습니까']
['B-LOC', 'I-LOC', 'O', 'B-ADJ', 'I-ADJ', 'I-ADJ', 'I-ADJ', 'B-STY', 'I-STY', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']

1-15) 지하철역 + 위치형용사 + 추천요청어미

HBox(children=(FloatProgress(value=0.0, max=62500.0), HTML(value='')))

수유역에서 걸어갈만한 거리의 지리는 데 여쭤보려구요
['수유역', '에서', '걸어갈', '만', '한', '거리의', '지리', '는', '데', '여쭤', '보', '려구요']
['B-SBW', 'O', 'B-ADJ', 'I-ADJ', 'I-ADJ', 'I-ADJ', 'O', 'O', 'O', 'O', 'O', 'O']

1-16) 지하철역 + 위치형용사 + 형용사 + 추천요청어미

HBox(children=(FloatProgress(value=0.0, max=62500.0), HTML(value='')))

신대방삼거리역에서 근처의 덜 뚱뚱해보이는 지리는 헤어샵 어디인데요
['신대방삼거리역', '에서', '근', '처의', '덜', '뚱뚱', '해', '보이', '는', '지리', '는', '헤어', '샵', '어디', '인데요']
['B-SBW', 'O', 'B-ADJ', 'I-ADJ', 'B-ADJ', 'I-ADJ', 'I-ADJ', 'I-ADJ', 'I-ADJ', 'O', 'O', 'O', 'O', 'O', 'O']

In [79]:
len(r_questions), len(r_mecabs), len(r_tags)

(1000000, 1000000, 1000000)

In [80]:
# 문의 질문을 저장
q_questions = []

# 문의 질문 형태소 분석 결과를 저장
q_mecabs = []

# 문의 질문 BIO 태그를 저장
q_tags = []

In [81]:
# 2-1) 업소명 + 위치문의어미
print('2-1) 업소명 + 위치문의어미')
for i in tqdm(range(83333)):
    
    result = make_sentences('q', [df_hairshops, df_ending_words_q_loc])
    
    q_questions.append(result[0])
    q_mecabs.append(result[1])
    q_tags.append(result[2])

print(q_questions[-1])
print(q_mecabs[-1])
print(q_tags[-1])
print('\n')

# 2-2) 업소명 + 가격문의어미
print('2-2) 업소명 + 가격문의어미')
for i in tqdm(range(83333)):
    
    result = make_sentences('q', [df_hairshops, df_ending_words_q_price])
    
    q_questions.append(result[0])
    q_mecabs.append(result[1])
    q_tags.append(result[2])

print(q_questions[-1])
print(q_mecabs[-1])
print(q_tags[-1])
print('\n')

# 2-3) 업소명 + 리뷰문의어미
print('2-3) 업소명 + 리뷰문의어미')
for i in tqdm(range(83333)):
    
    result = make_sentences('q', [df_hairshops, df_ending_words_q_review])
    
    q_questions.append(result[0])
    q_mecabs.append(result[1])
    q_tags.append(result[2])

print(q_questions[-1])
print(q_mecabs[-1])
print(q_tags[-1])
print('\n')

# 2-4) 업소명 + 스타일 + 리뷰문의어미
print('2-4) 업소명 + 스타일 + 리뷰문의어미')
for i in tqdm(range(83333)):
    
    result = make_sentences('q', [df_hairshops, df_styles, df_ending_words_q_review])
    
    q_questions.append(result[0])
    q_mecabs.append(result[1])
    q_tags.append(result[2])

print(q_questions[-1])
print(q_mecabs[-1])
print(q_tags[-1])
print('\n')

# 2-5) 장소 + 업소명 + 위치문의어미
print('2-5) 장소 + 업소명 + 위치문의어미')
for i in tqdm(range(83333)):
    
    result = make_sentences('q', [df_locations, df_hairshops, df_ending_words_q_loc])
    
    q_questions.append(result[0])
    q_mecabs.append(result[1])
    q_tags.append(result[2])

print(q_questions[-1])
print(q_mecabs[-1])
print(q_tags[-1])
print('\n')

# 2-6) 장소 + 업소명 + 가격문의어미
print('2-6) 장소 + 업소명 + 가격문의어미')
for i in tqdm(range(83333)):
    
    result = make_sentences('q', [df_locations, df_hairshops, df_ending_words_q_price])
    
    q_questions.append(result[0])
    q_mecabs.append(result[1])
    q_tags.append(result[2])

print(q_questions[-1])
print(q_mecabs[-1])
print(q_tags[-1])
print('\n')

# 2-7) 장소 + 업소명 + 리뷰문의어미
print('2-7) 장소 + 업소명 + 리뷰문의어미')
for i in tqdm(range(83333)):
    
    result = make_sentences('q', [df_locations, df_hairshops, df_ending_words_q_review])
    
    q_questions.append(result[0])
    q_mecabs.append(result[1])
    q_tags.append(result[2])

print(q_questions[-1])
print(q_mecabs[-1])
print(q_tags[-1])
print('\n')

# 2-8) 장소 + 업소명 + 스타일 + 리뷰문의어미
print('2-8) 장소 + 업소명 + 스타일 + 리뷰문의어미')
for i in tqdm(range(83333)):
    
    result = make_sentences('q', [df_locations, df_hairshops, df_styles, df_ending_words_q_review])
    
    q_questions.append(result[0])
    q_mecabs.append(result[1])
    q_tags.append(result[2])

print(q_questions[-1])
print(q_mecabs[-1])
print(q_tags[-1])
print('\n')

# 2-9) 지하철역 + 업소명 + 위치문의어미
print('2-9) 지하철역 + 업소명 + 위치문의어미')
for i in tqdm(range(83334)):
    
    result = make_sentences('q', [df_stations, df_hairshops, df_ending_words_q_loc])
    
    q_questions.append(result[0])
    q_mecabs.append(result[1])
    q_tags.append(result[2])

print(q_questions[-1])
print(q_mecabs[-1])
print(q_tags[-1])
print('\n')

# 2-10) 지하철역 + 업소명 + 가격문의어미
print('2-10) 지하철역 + 업소명 + 가격문의어미')
for i in tqdm(range(83334)):
    
    result = make_sentences('q', [df_stations, df_hairshops, df_ending_words_q_price])
    
    q_questions.append(result[0])
    q_mecabs.append(result[1])
    q_tags.append(result[2])

print(q_questions[-1])
print(q_mecabs[-1])
print(q_tags[-1])
print('\n')

# 2-11) 지하철역 + 업소명 + 리뷰문의어미
print('2-11) 지하철역 + 업소명 + 리뷰문의어미')
for i in tqdm(range(83334)):
    
    result = make_sentences('q', [df_stations, df_hairshops, df_ending_words_q_review])
    
    q_questions.append(result[0])
    q_mecabs.append(result[1])
    q_tags.append(result[2])

print(q_questions[-1])
print(q_mecabs[-1])
print(q_tags[-1])
print('\n')

# 2-12) 지하철역 + 업소명 + 스타일 + 리뷰문의어미
print('2-12) 지하철역 + 업소명 + 스타일 + 리뷰문의어미')
for i in tqdm(range(83334)):
    
    result = make_sentences('q', [df_stations, df_hairshops, df_styles, df_ending_words_q_review])
    
    q_questions.append(result[0])
    q_mecabs.append(result[1])
    q_tags.append(result[2])

print(q_questions[-1])
print(q_mecabs[-1])
print(q_tags[-1])
print('\n')

2-1) 업소명 + 위치문의어미

HBox(children=(FloatProgress(value=0.0, max=83333.0), HTML(value='')))

이철헤어커커 건대스타시티점 위치 어디입니까
['이철', '헤어', '커', '커', '건대', '스타', '시티', '점', '위치', '어디', '입니까']
['B-ORG', 'I-ORG', 'I-ORG', 'I-ORG', 'I-ORG', 'I-ORG', 'I-ORG', 'I-ORG', 'O', 'O', 'O']


2-2) 업소명 + 가격문의어미

HBox(children=(FloatProgress(value=0.0, max=83333.0), HTML(value='')))

가꿈헤어드림 명동점 요금 아시나요
['가꿈', '헤어', '드림', '명', '동점', '요금', '아시나', '요']
['B-ORG', 'I-ORG', 'I-ORG', 'I-ORG', 'I-ORG', 'O', 'O', 'O']


2-3) 업소명 + 리뷰문의어미

HBox(children=(FloatProgress(value=0.0, max=83333.0), HTML(value='')))

가디 헤어샵 진짜반응 찾아주세요
['가디', '헤어', '샵', '진짜', '반응', '찾', '아', '주', '세요']
['B-ORG', 'I-ORG', 'I-ORG', 'O', 'O', 'O', 'O', 'O', 'O']


2-4) 업소명 + 스타일 + 리뷰문의어미

HBox(children=(FloatProgress(value=0.0, max=83333.0), HTML(value='')))

헤어코코 레이어드컷 거짓없는 후기 알수있나요
['헤어', '코코', '레이어드', '컷', '거짓', '없', '는', '후기', '알', '수', '있', '나요']
['B-ORG', 'I-ORG', 'B-STY', 'I-STY', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']


2-5) 장소 + 업소명 + 위치문의어미

HBox(children=(FloatProgress(value=0.0, max=83333.0), HTML(value='')))

성동 문래에 아이헤어 고려대점 자세한 주소 어디에요
['성동', '문래', '에', '아이', '헤어', '고려', '대점', '자세', '한', '주소', '어디', '에', '요']
['B-LOC', 'I-LOC', 'O', 'B-ORG', 'I-ORG', 'I-ORG', 'I-ORG', 'O', 'O', 'O', 'O', 'O', 'O']


2-6) 장소 + 업소명 + 가격문의어미

HBox(children=(FloatProgress(value=0.0, max=83333.0), HTML(value='')))

중랑 갈현동에 본헤어샵 하는 비용 알려주시겠어요
['중랑', '갈현동', '에', '본', '헤어', '샵', '하', '는', '비용', '알려', '주', '시', '겠', '어요']
['B-LOC', 'I-LOC', 'O', 'B-ORG', 'I-ORG', 'I-ORG', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']


2-7) 장소 + 업소명 + 리뷰문의어미

HBox(children=(FloatProgress(value=0.0, max=83333.0), HTML(value='')))

중구 미아에 라브리지 전농롯데캐슬점 진짜반응 찾아주세요
['중구', '미아', '에', '라브리', '지', '전농', '롯데', '캐슬', '점', '진짜', '반응', '찾', '아', '주', '세요']
['B-LOC', 'I-LOC', 'O', 'B-ORG', 'I-ORG', 'I-ORG', 'I-ORG', 'I-ORG', 'I-ORG', 'O', 'O', 'O', 'O', 'O', 'O']


2-8) 장소 + 업소명 + 스타일 + 리뷰문의어미

HBox(children=(FloatProgress(value=0.0, max=83333.0), HTML(value='')))

성북구 청담에 오소소헤어 쉐도우펌 거짓없는 평 있는지 궁금해
['성북구', '청담', '에', '오소소', '헤어', '쉐', '도우', '펌', '거짓', '없', '는', '평', '있', '는지', '궁금', '해']
['B-LOC', 'I-LOC', 'O', 'B-ORG', 'I-ORG', 'B-STY', 'I-STY', 'I-STY', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']


2-9) 지하철역 + 업소명 + 위치문의어미

HBox(children=(FloatProgress(value=0.0, max=83334.0), HTML(value='')))

학동역에서 로이드밤 개봉역점 상세주소 어디일까요
['학동역', '에서', '로이드', '밤', '개봉', '역점', '상세', '주소', '어디', '일까요']
['B-SBW', 'O', 'B-ORG', 'I-ORG', 'I-ORG', 'I-ORG', 'O', 'O', 'O', 'O']


2-10) 지하철역 + 업소명 + 가격문의어미

HBox(children=(FloatProgress(value=0.0, max=83334.0), HTML(value='')))

광명사거리역에서 준오헤어 방배역점 가격 알려주세요
['광명사거리역', '에서', '준오', '헤어', '방배', '역점', '가격', '알려', '주', '세요']
['B-SBW', 'O', 'B-ORG', 'I-ORG', 'I-ORG', 'I-ORG', 'O', 'O', 'O', 'O']


2-11) 지하철역 + 업소명 + 리뷰문의어미

HBox(children=(FloatProgress(value=0.0, max=83334.0), HTML(value='')))

녹천역에서 차홍룸 용산점 진짜반응 있는지
['녹천역', '에서', '차홍', '룸', '용', '산점', '진짜', '반응', '있', '는지']
['B-SBW', 'O', 'B-ORG', 'I-ORG', 'I-ORG', 'I-ORG', 'O', 'O', 'O', 'O']


2-12) 지하철역 + 업소명 + 스타일 + 리뷰문의어미

HBox(children=(FloatProgress(value=0.0, max=83334.0), HTML(value='')))

동대입구역에서 하이살롱 C컬펌 진실된 평가 뭐였어요
['동대입구역', '에서', '하이', '살롱', 'C', '컬', '펌', '진실', '된', '평가', '뭐', '였어요']
['B-SBW', 'O', 'B-ORG', 'I-ORG', 'B-STY', 'I-STY', 'I-STY', 'O', 'O', 'O', 'O', 'O']

In [88]:
len(q_questions), len(q_mecabs), len(q_tags)

(1000000, 1000000, 1000000)

In [89]:
df_r_questions = DataFrame({
      'question' : r_questions
    , 'mecab' : r_mecabs
    , 'BIO_tag' : r_tags
})

df_r_questions

,question,mecab,BIO_tag
0,그레이스펌 잘하는 좋은 미용실 뭐예요,"[그레이스, 펌, 잘, 하, 는, 좋, 은, 미용실, 뭐, 예요]","[B-STY, I-STY, O, O, O, O, O, O, O, O]"
1,글램펌 잘하는 좋은 데 물어볼라는데요,"[글램, 펌, 잘, 하, 는, 좋, 은, 데, 물, 어, 볼, 라는, 데, 요]","[B-STY, I-STY, O, O, O, O, O, O, O, O, O, O, O..."
2,C컬펌 잘하는 지리는 데 어디냐,"[C, 컬, 펌, 잘, 하, 는, 지리, 는, 데, 어디, 냐]","[B-STY, I-STY, I-STY, O, O, O, O, O, O, O, O]"
3,호일펌 잘하는 괜찮은 미용실 어뎁니까,"[호일, 펌, 잘, 하, 는, 괜찮, 은, 미용실, 어, 뎁니까]","[B-STY, I-STY, O, O, O, O, O, O, O, O]"
4,에어펌 잘하는 같이오고 싶은 미용실 여쭤보려하는데요,"[에, 어, 펌, 잘, 하, 는, 같이, 오, 고, 싶, 은, 미용실, 여쭤, 보,...","[B-STY, I-STY, I-STY, O, O, O, O, O, O, O, O, ..."
...,...,...,...
999995,반포역에서 바로 보이는 깔끔한 오지는 데 궁금합니다,"[반, 포역, 에서, 바로, 보이, 는, 깔끔, 한, 오지, 는, 데, 궁금, 합니다]","[B-SBW, I-SBW, O, B-ADJ, I-ADJ, I-ADJ, B-ADJ, ..."
999996,논현역에서 바로 근처에 가성비 좋은 헤어 맛집 찾아줘,"[논현역, 에서, 바로, 근처, 에, 가성, 비, 좋, 은, 헤어, 맛집, 찾, 아...","[B-SBW, O, B-ADJ, I-ADJ, I-ADJ, B-ADJ, I-ADJ, ..."
999997,논현역에서 근처에 매일 소독하는 아는 미용실 알고 계신가요,"[논현역, 에서, 근처, 에, 매일, 소독, 하, 는, 아, 는, 미용실, 알, 고...","[B-SBW, O, B-ADJ, I-ADJ, B-ADJ, I-ADJ, I-ADJ, ..."
999998,총신대입구역에서 금방 걸어가는 정리정돈이 잘된 지리는 데 알려주세요,"[총신, 대입, 구역, 에서, 금방, 걸어가, 는, 정, 리정, 돈, 이, 잘, 된...","[B-SBW, I-SBW, I-SBW, O, B-ADJ, I-ADJ, I-ADJ, ..."
999999,신대방삼거리역에서 근처의 덜 뚱뚱해보이는 지리는 헤어샵 어디인데요,"[신대방삼거리역, 에서, 근, 처의, 덜, 뚱뚱, 해, 보이, 는, 지리, 는, 헤...","[B-SBW, O, B-ADJ, I-ADJ, B-ADJ, I-ADJ, I-ADJ, ..."

In [98]:
df_q_questions = DataFrame({
      'question' : q_questions
    , 'mecab' : q_mecabs
    , 'BIO_tag' : q_tags
})

df_q_questions

,question,mecab,BIO_tag
0,지노헤어 신당점 어디있나요,"[지노, 헤어, 신, 당점, 어디, 있, 나요]","[B-ORG, I-ORG, I-ORG, I-ORG, O, O, O]"
1,이훈ALL30000 낙성대점 상세주소 어데로가는교,"[이훈, ALL, 30000, 낙성, 대점, 상세, 주소, 어데로, 가, 는교]","[B-ORG, I-ORG, I-ORG, I-ORG, I-ORG, O, O, O, O..."
2,my name is 영웅. 헤어&탈모 상세주소 어디예요,"[my, name, is, 영웅, ., 헤어, &, 탈모, 상세, 주소, 어디, 예요]","[B-ORG, I-ORG, I-ORG, I-ORG, I-ORG, I-ORG, I-O..."
3,더헤어 중랑점 자세한 위치 말해줘,"[더, 헤어, 중, 랑, 점, 자세, 한, 위치, 말, 해, 줘]","[B-ORG, I-ORG, I-ORG, I-ORG, I-ORG, O, O, O, O..."
4,에이난 홍대점 자세한 주소 어디인데요,"[에이, 난, 홍대, 점, 자세, 한, 주소, 어디, 인데요]","[B-ORG, I-ORG, I-ORG, I-ORG, O, O, O, O, O]"
...,...,...,...
999995,삼양역에서 김지연살롱에이 스타일바이 내츄럴펌 진짜반응 있는지 궁금해,"[삼, 양역, 에서, 김지연, 살롱, 에, 이, 스타일, 바이, 내츄럴, 펌, 진짜...","[B-SBW, I-SBW, O, B-ORG, I-ORG, I-ORG, I-ORG, ..."
999996,신금호역에서 아가페헤어살롱 레이어드컷 반응 알려주나요,"[신금, 호역, 에서, 아가페, 헤어, 살롱, 레이어드, 컷, 반응, 알려, 주, 나요]","[B-SBW, I-SBW, O, B-ORG, I-ORG, I-ORG, B-STY, ..."
999997,삼각지역에서 플랜에이치 홍대점 해병대머리 솔직후기 여쭤볼려고,"[삼각, 지역, 에서, 플랜, 에, 이치, 홍대, 점, 해병대, 머리, 솔직, 후기...","[B-SBW, I-SBW, O, B-ORG, I-ORG, I-ORG, I-ORG, ..."
999998,청담역에서 히즈모 동부이촌점 히피펌 후기 뭐뭐있어요,"[청담역, 에서, 히즈, 모, 동부, 이촌, 점, 히피, 펌, 후기, 뭐, 뭐, 있...","[B-SBW, O, B-ORG, I-ORG, I-ORG, I-ORG, I-ORG, ..."
999999,동대입구역에서 하이살롱 C컬펌 진실된 평가 뭐였어요,"[동대입구역, 에서, 하이, 살롱, C, 컬, 펌, 진실, 된, 평가, 뭐, 였어요]","[B-SBW, O, B-ORG, I-ORG, B-STY, I-STY, I-STY, ..."

In [99]:
df_questions = pd.concat([df_r_questions, df_q_questions], ignore_index = True)
df_questions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000000 entries, 0 to 1999999
Data columns (total 3 columns):
 #   Column    Dtype
---  ------    -----
 0   question  object
 1   mecab     object
 2   BIO_tag   object
dtypes: object(3)
memory usage: 45.8+ MB

In [100]:
df_questions.drop_duplicates(subset='question', inplace=True)
df_questions.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1990408 entries, 0 to 1999999
Data columns (total 3 columns):
 #   Column    Dtype
---  ------    -----
 0   question  object
 1   mecab     object
 2   BIO_tag   object
dtypes: object(3)
memory usage: 60.7+ MB

In [101]:
from sklearn.utils import shuffle

df_questions = shuffle(df_questions)
df_questions.index = range(len(df_questions))

df_questions.head()

,question,mecab,BIO_tag
0,금천 가락1동에 이철헤어커커 신림포도몰점 히메컷 진짜리뷰 뭔고,"[금천, 가락, 1, 동, 에, 이철, 헤어, 커, 커, 신림, 포도, 몰, 점, ...","[B-LOC, I-LOC, I-LOC, I-LOC, O, B-ORG, I-ORG, ..."
1,자연스러워 보이는 볼륨감이 살아있는 실패하지않는 데 어데인지아나,"[자연, 스러워, 보이, 는, 볼륨, 감, 이, 살, 아, 있, 는, 실패, 하, ...","[B-ADJ, I-ADJ, I-ADJ, I-ADJ, B-ADJ, I-ADJ, I-A..."
2,용산 이문동에 쾌적한 하고싶은 미용실 알려줄 수 있나요,"[용산, 이문동, 에, 쾌적, 한, 하, 고, 싶, 은, 미용실, 알려, 줄, 수,...","[B-LOC, I-LOC, O, B-ADJ, I-ADJ, O, O, O, O, O,..."
3,상월곡역에서 고운헤어 가본 사람들 리뷰 알아보는데요,"[상월곡역, 에서, 고운, 헤어, 가본, 사람, 들, 리뷰, 알아보, 는데요]","[B-SBW, O, B-ORG, I-ORG, O, O, O, O, O, O]"
4,내부가 예쁜 투블럭펌 잘하는 잠실역에서잘하는 헤어샵 있다면서요,"[내부, 가, 예쁜, 투, 블럭, 펌, 잘, 하, 는, 잠실역, 잘, 하, 는, 헤...","[B-ADJ, I-ADJ, I-ADJ, B-STY, I-STY, I-STY, O, ..."

In [102]:
df_questions.to_csv('./output_data/QuestionsMorphsBIOTags.csv', sep=',', encoding='utf-8-sig')